<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxh.mapper.merchant.AgmentSquareRoleMapper">

    <resultMap id="BaseResultMap" type="com.rxh.pojo.merchant.MerchantRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="belongto" jdbcType="VARCHAR" property="belongto"/>
        <result column="privileges_id" jdbcType="VARCHAR" property="privilegesId"/>
        <result column="available" jdbcType="BIT" property="available"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, role, role_name, belongto, privileges_id, available, remark, creator, create_time,
        modifier, modify_time
    </sql>
    <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from agment_role
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="getRole"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from agment_role
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from agment_role
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.rxh.pojo.merchant.MerchantRole">
        insert into agment_role (id, role, role_name,
                                   belongto, privileges_id, available,
                                   remark, creator, create_time,
                                   modifier, modify_time)
        values (#{id,jdbcType=BIGINT}, #{role,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR},
            #{belongto,jdbcType=VARCHAR}, #{privilegesId,jdbcType=VARCHAR}, #{available,jdbcType=BIT},
            #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
            #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.rxh.pojo.merchant.MerchantRole">
        insert into agment_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="role != null">
                role,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="belongto != null">
                belongto,
            </if>
            <if test="privilegesId != null">
                privileges_id,
            </if>
            <if test="available != null">
                available,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="role != null">
                #{role,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="belongto != null">
                #{belongto,jdbcType=VARCHAR},
            </if>
            <if test="privilegesId != null">
                #{privilegesId,jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                #{available,jdbcType=BIT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.rxh.pojo.merchant.MerchantRole">
        update agment_role
        <set>
            <if test="role != null">
                role = #{role,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="belongto != null">
                belongto = #{belongto,jdbcType=VARCHAR},
            </if>
            <if test="privilegesId != null">
                privileges_id = #{privilegesId,jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                available = #{available,jdbcType=BIT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.rxh.pojo.merchant.MerchantRole">
        update agment_role
        set role          = #{role,jdbcType=VARCHAR},
            role_name     = #{roleName,jdbcType=VARCHAR},
            belongto      = #{belongto,jdbcType=VARCHAR},
            privileges_id = #{privilegesId,jdbcType=VARCHAR},
            available     = #{available,jdbcType=BIT},
            remark        = #{remark,jdbcType=VARCHAR},
            creator       = #{creator,jdbcType=VARCHAR},
            create_time   = #{createTime,jdbcType=TIMESTAMP},
            modifier      = #{modifier,jdbcType=VARCHAR},
            modify_time   = #{modifyTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByMerchantId" resultType="com.rxh.pojo.merchant.MerchantRole">
        SELECT
        <include refid="Base_Column_List"/>
        FROM agment_role
        WHERE belongto = #{merchantId}
        ORDER BY create_time DESC
    </select>
    <select id="selectByMerchantRole" resultType="com.rxh.pojo.merchant.MerchantRole"
            parameterType="com.rxh.pojo.merchant.MerchantRole">
        SELECT
        <include refid="Base_Column_List"/>
        FROM agment_role
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT} AND
            </if>
            <if test="role != null">
                role = #{role,jdbcType=VARCHAR} AND
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR} AND
            </if>
            <if test="belongto != null">
                belongto = #{belongto,jdbcType=VARCHAR} AND
            </if>
            <if test="privilegesId != null">
                privileges_id = #{privilegesId,jdbcType=VARCHAR} AND
            </if>
            <if test="available != null">
                available = #{available,jdbcType=BIT} AND
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR} AND
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR} AND
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP} AND
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR} AND
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP} AND
            </if>
        </trim>
    </select>

    <update id="updateRoleByRoleNameAndBelongTo" parameterType="com.rxh.pojo.merchant.MerchantRole">
        UPDATE agment_role
        <set>
            <if test="role != null">
                role = #{role,jdbcType=VARCHAR},
            </if>
            <if test="privilegesId != null">
                privileges_id = #{privilegesId,jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                available = #{available,jdbcType=BIT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE role_name = #{roleName}
        AND belongto = #{belongto}
    </update>

    <delete id="deleteRoleByRoleNameAndBelongTo">
        DELETE FROM agment_role
        WHERE role_name = #{roleName}
              AND belongto = #{belongTo}
    </delete>
</mapper>