<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxh.mapper.merchant.MerchantPrivilegesMapper">
    <resultMap id="BaseResultMap" type="com.rxh.pojo.merchant.MerchantPrivileges">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="state_name" jdbcType="VARCHAR" property="stateName"/>
        <result column="icon_font" jdbcType="VARCHAR" property="iconFont"/>
        <result column="available" jdbcType="BIT" property="available"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, description, parent_id, state_name, icon_font, available
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from merchant_privileges
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from merchant_privileges
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.rxh.pojo.merchant.MerchantPrivileges">
        insert into merchant_privileges (id, name, description,
                                         parent_id, state_name, icon_font,
                                         available)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
                #{parentId,jdbcType=BIGINT}, #{stateName,jdbcType=VARCHAR}, #{iconFont,jdbcType=VARCHAR},
                #{available,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.rxh.pojo.merchant.MerchantPrivileges">
        insert into merchant_privileges
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="stateName != null">
                state_name,
            </if>
            <if test="iconFont != null">
                icon_font,
            </if>
            <if test="available != null">
                available,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="stateName != null">
                #{stateName,jdbcType=VARCHAR},
            </if>
            <if test="iconFont != null">
                #{iconFont,jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                #{available,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.rxh.pojo.merchant.MerchantPrivileges">
        update merchant_privileges
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="stateName != null">
                state_name = #{stateName,jdbcType=VARCHAR},
            </if>
            <if test="iconFont != null">
                icon_font = #{iconFont,jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                available = #{available,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.rxh.pojo.merchant.MerchantPrivileges">
        update merchant_privileges
        set name        = #{name,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            parent_id   = #{parentId,jdbcType=BIGINT},
            state_name  = #{stateName,jdbcType=VARCHAR},
            icon_font   = #{iconFont,jdbcType=VARCHAR},
            available   = #{available,jdbcType=BIT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectAll" resultType="com.rxh.pojo.merchant.MerchantPrivileges">
        SELECT <include refid="Base_Column_List"/>
        FROM merchant_privileges
    </select>
    <select id="selectUserPrivileges" resultType="com.rxh.pojo.merchant.MerchantPrivileges">
        SELECT
        <include refid="Base_Column_List"/>
        FROM merchant_privileges
        WHERE parent_id IS NULL
        OR id IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>