<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 引用Dubbo服务 -->
    <dubbo:application name="rxh-payment"/>
    <!-- 注册中心地址 -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"/>
    <!--  **************************************************new***************************************************************  -->
    <dubbo:reference interface="com.rxh.service.anew.agent.ApiAgentMerchantInfoService"        id="apiAgentMerchantInfoService"/>
    <dubbo:reference interface="com.rxh.service.anew.merchant.ApiMerchantInfoService"          id="apiMerchantInfoService"/>
    <dubbo:reference interface="com.rxh.service.anew.business.ApiRegisterCollectService"       id="apiRegisterCollectService"/>
    <dubbo:reference interface="com.rxh.service.anew.system.ApiMerchantSettingService"         id="apiMerchantSettingService"/>
    <dubbo:reference interface="com.rxh.service.anew.channel.ApiChannelInfoService"            id="apiChannelInfoService"/>
    <dubbo:reference interface="com.rxh.service.anew.channel.ApiProductTypeSettingService"     id="apiProductTypeSettingService"/>
    <dubbo:reference interface="com.rxh.service.anew.channel.ApiChannelExtraInfoService"       id="apiChannelExtraInfoService"/>
    <dubbo:reference interface="com.rxh.service.anew.business.ApiRegisterInfoService"          id="apiRegisterInfoService"/>
    <dubbo:reference interface="com.rxh.service.anew.system.ApiSystemOrderTrackService"        id="apiSystemOrderTrackService"/>
    <dubbo:reference interface="com.rxh.service.anew.business.ApiMerchantCardService"          id="apiMerchantCardService"/>



    <!--  *****************************************************************************************************************  -->
    <!--四方支付服务接口-->
    <dubbo:reference interface="com.rxh.service.square.RiskQuotaDataService" id="riskQuotaDataService"/>
    <dubbo:reference interface="com.rxh.service.square.PaymentRecordSquareService" id="paymentRecordSquareService"/>
    <dubbo:reference interface="com.rxh.service.square.ChannelInfoService" id="channelInfoService"/>
    <dubbo:reference interface="com.rxh.service.square.MerchantSquareRateService" id="merchantSquareRateService"/>
    <dubbo:reference interface="com.rxh.service.square.MerchantSquareSettingService" id="merchantSquareSettingService"/>
    <dubbo:reference interface="com.rxh.service.square.OrganizationService" id="organizationService"/>
    <dubbo:reference interface="com.rxh.service.ConstantService" id="constantService"/>
    <dubbo:reference interface="com.rxh.service.trading.TransOrderService" id="transOrderService"/>
    <dubbo:reference interface="com.rxh.service.square.MerchantInfoService" id="merchantInfoService"/>

    <!-- 引用 -->
    <dubbo:reference interface="com.rxh.service.MerchantService" id="merchantService"/>
    <dubbo:reference interface="com.rxh.service.merchant.MerchantAddCusService" id="merchantAddCusService"/>
    <dubbo:reference interface="com.rxh.service.square.MerchantCardService" id="merchantCardService"/>
    <dubbo:reference interface="com.rxh.service.square.ExtraChannelInfoService" id="extraChannelInfoService"/>

    <dubbo:reference interface="com.rxh.service.merchant.MerchantRegisterCollectService" id="merchantRegisterCollectService"/>
    <dubbo:reference interface="com.rxh.service.merchant.MerchantRegisterInfoService" id="merchantRegisterInfoService"/>
    <dubbo:reference interface="com.rxh.service.trading.PayOrderService" id="payOrderService"/>
    <dubbo:reference interface="com.rxh.service.wallet.KuaiJiePayService" id="kuaiJiePayService"/>
    <dubbo:reference interface="com.rxh.service.merchant.MerchantSettingService" id="merchantSettingService"/>
    <dubbo:reference interface="com.rxh.service.square.SystemOrderTrackService" id="systemOrderTrackService"/>
    <dubbo:reference interface="com.rxh.service.square.NotifyOrderService" id="notifyOrderService" />
    <dubbo:reference interface="com.rxh.service.square.BankCodeService" id="bankCodeService" />
</beans>