<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 创建ActiveMQ连接 -->
    <bean id="jmsFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${activeMq.brokerURL}"/>
        <!-- 信任所有ObjectMessage通知类型 -->
        <property name="trustAllPackages" value="true"/>
    </bean>
    <!-- 订阅 -->
    <bean id="activeMQTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="cacheRefreshActiveMQ"/>
    </bean>
    <!-- 点对点 -->
    <bean id="activeMQQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="payOderMsg,transOderMsg"/>
    </bean>

    <!-- 点对点消息发布模板 -->
    <bean id="queueJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="jmsFactory"/>
        <property name="defaultDestination" ref="activeMQQueue"/>
        <!-- 设置支持session事务为false否则客户端确认消息无效 -->
        <property name="sessionTransacted" value="false"/>
        <!-- 需要客户端确认消息，消息才会被认为已处理 -->
        <!-- AUTO_ACKNOWLEDGE = 1; -->
        <!-- CLIENT_ACKNOWLEDGE = 2; -->
        <!-- DUPS_OK_ACKNOWLEDGE = 3; -->
        <!-- SESSION_TRANSACTED = 0; -->
        <property name="sessionAcknowledgeMode" value="2"/>
        <!-- 使deliveryMode, priority, timeToLive设置生效 -->
        <property name="explicitQosEnabled" value="true"/>
        <!-- 消息存活时间为一天（86400000毫秒） -->
        <property name="timeToLive" value="86400000"/>
        <!-- 是否消息持久化默认为启用 -->
        <!-- NON_PERSISTENT = 1; -->
        <!-- PERSISTENT = 2; -->
        <property name="deliveryMode" value="2"/>
    </bean>

    <!-- 消息监听对象 -->
<!--    <bean id="messageListener" class="com.rxh.anew.mq.PayMessageListener"  />-->

    <!-- 使用Spring监听订阅消息 -->
    <bean id="topicListener" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsFactory"/>
        <property name="destination" ref="activeMQTopic"/>
<!--        <property name="messageListener" ref="messageListener"/>-->
        <property name="pubSubDomain" value="true"/>
    </bean>

    <!-- 使用Spring监听点对点消息 -->
    <bean id="queueListener" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsFactory"/>
        <property name="destination" ref="activeMQQueue"/>
<!--        <property name="messageListener" ref="messageListener"/>-->
    </bean>
</beans>