<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 注解扫描 -->
    <context:component-scan base-package="com.rxh">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
    </context:component-scan>
    <context:annotation-config/>

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="paymentConfig" class="com.rxh.utils.PaymentInfo">
        <property name="md5Key" value="${payment.md5Key}"/>
        <property name="paymentUrl" value="${payment.url}"/>
        <property name="bankNotifyUrl" value="${payment.bankNotifyUrl}"/>
        <property name="refundNotifyUrl" value="${payment.refundNotifyUrl}"/>
        <property name="fpxKeyPath" value="${cross.fpx.key.path}"/>
        <property name="bankCardNotifyUrl" value="${payment.bankCardNotifyUrl}" />
    </bean>
    <!-- 快钱RSA加密 -->
   <!-- <bean id="kuaiQianRSAUtils" class="com.rxh.utils.KuaiQianRSAUtils">
        <constructor-arg name="publicKeyPath" value="${rsa.key.path.public}"/>
        <constructor-arg name="privateKeyPath" value="${rsa.key.path.private}"/>
    </bean>-->

    <bean id="sicPayRSAUtils" class="com.rxh.utils.SicPayRSAUtils">
        <property name="yhPubKeyPath" value="${Sicpay.key.public}"/>
        <property name="hzfPriKeyPath" value="${Sicpay.key.private}"/>
    </bean>

    <context:property-placeholder location="classpath:properties/acquirer-config.properties"/>
</beans>
