@media screen and (min-width: 768px){
	
	.modal-dialog {
	
		    width: 494px;
		    margin: 30px auto;
		    font-family: "Microsoft YaHei";
		    
     }
     
}

.marginTop-minus {
	margin-top: -44px;
}

.add-btn {

	width: 46px;
    height: 30px;

}

.del-btn {
	
    width: 46px;
    height: 30px;

}

.print-btn {
	
    width: 46px;
    height: 30px;

}

.operate-btn {
	
	width: 36px;
    height: 22px;
	
}

.general-btn {
	
	width:120px;
	height:30px;

}

.export-btn {
	
    width:84px;
	height:30px;
	
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 .col-lg-1-5 .col-md-1-5 .col-sm-1-5 .col-xs-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 11px;
    padding-left: 11px;
}

.form-control {
	
	font-size:13px
	
}

.padding-set {
	
	 padding: 12px 0px 19px 0px;
	
}

.set-margin-bottom {
	
   margin-bottom: 25px;
	
}

@media screen and (max-width: 844px){
	
	.set-margin-bottom {
		
	   margin-bottom: 48px;
		
	}
	
}

.select-prompt {
	
    position: relative;
    z-index: 10;
    margin-top: 6px;
    margin-left: 13px;
    display: inline-block;
    color: #999;
    
		
}

.select-prompt-md {
	
	position: relative;
    z-index: 5;
    margin-top: 6px;
    margin-left: 13px;
    display: inline-block;
    color:#999;
		
}

.select-prompt-ms {
	
	position: relative;
    z-index: 2;
    margin-top: 6px;
    margin-left: 13px;
    display: inline-block;
    color:#999;
		
}

.no-select-prompt {
	
	position: relative;
    z-index: 0;
    display: none;
		
}

option:hover{
	
	background-color:#1e91ff;
	color:#fff
	
	}

.no-select-prompt:hover {
	
	background-color:#fff;
	
}

.select-prompt:hover {
	
   background-color:#fff;
    
		
}

.select-prompt-md:hover {
	
	background-color:#fff;
		
}

.select-prompt-ms:hover {
	
	background-color:#fff;
		
}

.select-arrow {
	
	position: absolute;
    padding-right: 8px;
    padding-top: 13px;
    width:13px;
    margin-left: -13px;
	
}

#selectInputDiv {
	
	text-align:right;
	
}

.align-middle{
	
    text-align:right;
	
}

select option:nth-child(1) {
	
    margin-top:-3px;
	
}

select option {
	
	width: 258px;
    margin-left: -14px;
    padding-left: 14px;
	
}

.layout-align{
	
	text-align: center;
	
}

.limit-height {
	
    height: 30px;
    line-height: 30px;
	
}

.set-height33{
	
	height:33px
	
}

