<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 引用Dubbo服务 -->
    <dubbo:application name="inward"/>

    <!-- 注册中心地址 -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"/>

    <dubbo:reference interface="com.rxh.service.anew.agent.ApiAgentMerchantInfoService"        id="apiAgentMerchantInfoService"/>
    <dubbo:reference interface="com.rxh.service.anew.merchant.ApiMerchantInfoService"          id="apiMerchantInfoService"/>
    <dubbo:reference interface="com.rxh.service.anew.business.ApiRegisterCollectService"       id="apiRegisterCollectService"/>
    <dubbo:reference interface="com.rxh.service.anew.system.ApiMerchantSettingService"         id="apiMerchantSettingService"/>
    <dubbo:reference interface="com.rxh.service.anew.channel.ApiChannelInfoService"            id="apiChannelInfoService"/>
    <dubbo:reference interface="com.rxh.service.anew.channel.ApiProductTypeSettingService"     id="apiProductTypeSettingService"/>
    <dubbo:reference interface="com.rxh.service.anew.channel.ApiChannelExtraInfoService"       id="apiChannelExtraInfoService"/>
    <dubbo:reference interface="com.rxh.service.anew.business.ApiRegisterInfoService"          id="apiRegisterInfoService"/>
    <dubbo:reference interface="com.rxh.service.anew.system.ApiSystemOrderTrackService"        id="apiSystemOrderTrackService"/>
    <dubbo:reference interface="com.rxh.service.anew.business.ApiMerchantCardService"          id="apiMerchantCardService"/>
    <dubbo:reference interface="com.rxh.service.anew.business.ApiPayOrderInfoService"          id="apiPayOrderInfoService"/>
    <dubbo:reference interface="com.rxh.service.anew.channel.ApiChannelHistoryService"         id="apiChannelHistoryService"/>
    <dubbo:reference interface="com.rxh.service.anew.merchant.ApiMerchantQuotaRiskService"     id="apiMerchantQuotaRiskService"/>
    <dubbo:reference interface="com.rxh.service.anew.system.ApiRiskQuotaService"               id="apiRiskQuotaService"/>
    <dubbo:reference interface="com.rxh.service.anew.agent.ApiAgentMerchantSettingService"     id="apiAgentMerchantSettingService"/>
    <dubbo:reference interface="com.rxh.service.anew.merchant.ApiMerchantRateService"          id="apiMerchantRateService"/>
    <dubbo:reference interface="com.rxh.service.anew.transaction.ApiPayOrderBusinessTransactionService"     id="apiPayOrderBusinessTransactionService"/>
    <dubbo:reference interface=" com.rxh.service.anew.transaction.ApiTransOrderBusinessTransactionService"  id="apiTransOrderBusinessTransactionService"/>
    <dubbo:reference interface="com.rxh.service.anew.merchant.ApiMerchantsDetailsService"      id="apiMerchantsDetailsService"/>
    <dubbo:reference interface="com.rxh.service.anew.merchant.ApiMerchantWalletService"        id="apiMerchantWalletService"/>
    <dubbo:reference interface="com.rxh.service.anew.terminal.ApiTerminalMerchantsWalletService"      id="apiTerminalMerchantsWalletService"/>
    <dubbo:reference interface="com.rxh.service.anew.terminal.ApiTerminalMerchantsDetailsService"     id="apiTerminalMerchantsDetailsService"/>
    <dubbo:reference interface="com.rxh.service.anew.channel.ApiChannelDetailsService"         id="apiChannelDetailsService"/>
    <dubbo:reference interface="com.rxh.service.anew.channel.ApiChannelWalletService"          id="apiChannelWalletService"/>
    <dubbo:reference interface="com.rxh.service.anew.agent.ApiAgentMerchantsDetailsService"    id="apiAgentMerchantsDetailsService"/>
    <dubbo:reference interface="com.rxh.service.anew.agent.ApiAgentMerchantWalletService"      id="apiAgentMerchantWalletService"/>
    <dubbo:reference interface="com.rxh.service.anew.system.ApiBankRateService"                id="apiBankRateService"/>
    <dubbo:reference interface="com.rxh.service.anew.system.ApiBankCodeService"                id="apiBankCodeService"/>
    <dubbo:reference interface="com.rxh.service.anew.system.ApiOrganizationInfoService"        id="apiOrganizationInfoService"/>
    <dubbo:reference interface="com.rxh.service.anew.business.ApiTransOrderInfoService"        id="apiTransOrderInfoService"/>


</beans>