<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 引用Dubbo服务 -->
    <dubbo:application name="rxh-manager-admin-web" logger="slf4j"/>
    <dubbo:consumer check="false"/>
    <!-- 注册中心地址 -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"/>

    <dubbo:reference interface="com.internal.playment.api.db.channel.ApiProductTypeSettingService" id="apiProductTypeSettingService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.system.ApiOrganizationInfoService" id="apiOrganizationInfoService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.channel.ApiChannelExtraInfoService" id="apiChannelExtraInfoService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.channel.ApiChannelInfoService" id="apiChannelInfoService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.merchant.ApiMerchantInfoService" id="apiMerchantInfoService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.agent.ApiAgentMerchantInfoService" id="apiAgentMerchantInfoService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.agent.ApiAgentMerchantSettingService" id="apiAgentMerchantSettingService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.system.ApiMerchantSettingService" id="apiMerchantSettingService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.merchant.ApiMerchantRateService"  id="apiMerchantRateService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.merchant.ApiMerchantQuotaRiskService" id="apiMerchantQuotaRiskService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.business.ApiPayOrderInfoService" id="apiPayOrderInfoService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.merchant.ApiMerchantWalletService" id="apiMerchantWalletService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.merchant.ApiMerchantsDetailsService" id="apiMerchantsDetailsService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.agent.ApiAgentMerchantWalletService" id="apiAgentMerchantWalletService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.agent.ApiAgentMerchantsDetailsService" id="apiAgentMerchantsDetailsService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.channel.ApiChannelDetailsService" id="apiChannelDetailsService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.channel.ApiChannelWalletService" id="apiChannelWalletService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.terminal.ApiTerminalMerchantsDetailsService" id="apiTerminalMerchantsDetailsService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.terminal.ApiTerminalMerchantsWalletService" id="apiTerminalMerchantsWalletService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.system.ApiBankRateService" id="apiBankRateService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.business.ApiTransOrderInfoService" id="apiTransOrderInfoService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.merchant.ApiMerchantBankRateSerrvice" id="apiMerchantBankRateSerrvice" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.system.ApiSystemOrderTrackService" id="apiSystemOrderTrackService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.system.ApiSysPrivilegesService" id="apiSysPrivilegesService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.system.ApiSysRoleService" id="apiSysRoleService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.system.ApiSysUserServie" id="apiSysUserServie" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.system.ApiSysGroupService" id="apiSysGroupService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.system.ApiSysConstantService" id="apiSysConstantService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.system.ApiSysLogService" version="1.0.0" id="apiSysLogService" />
    <dubbo:reference interface="com.internal.playment.api.db.system.ApiMerchantSysLogService" id="apiMerchantSysLogService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.system.ApiAgentSysLogService" id="apiAgentSysLogService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.merchant.ApiMerchantAcountService" id="apiMerchantAcountService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.merchant.ApiMerchantRoleService" id="apiMerchantRoleService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.merchant.ApiMerchantPrivilegesService" version="1.0.0" id="apiMerchantPrivilegesService" />
    <dubbo:reference interface="com.internal.playment.api.db.merchant.ApiMerchantUserService" id="apiMerchantUserService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.agent.ApiAgentRoleService" id="apiAgentRoleService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.agent.ApiAgentUserService" id="apiAgentUserService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.agent.ApiAgentPrivielgesService" id="apiAgentPrivielgesService" version="1.0.0" />
    <dubbo:reference interface="com.internal.playment.api.db.system.ApiUserLoginIpService" id="apiUserLoginIpService" version="1.0.0" />

</beans>
