<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rxh.mapper.square.AgentMerchantsDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.rxh.square.pojo.AgentMerchantsDetails" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="agent_mer_id" property="agentMerId" jdbcType="VARCHAR" />
    <result column="mer_order_id" property="merOrderId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="in_amount" property="inAmount" jdbcType="DECIMAL" />
    <result column="out_amount" property="outAmount" jdbcType="DECIMAL" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="total_benifit" property="totalBenifit" jdbcType="DECIMAL" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="timestamp" property="timestamp" jdbcType="VARCHAR" />


  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, agent_mer_id, mer_order_id, order_id, amount, type, in_amount, out_amount, fee,
    total_benifit, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rxh.square.pojo.AgentMerchantsDetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from agent_merchants_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from agent_merchants_details
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAllId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    agent_mer_id,mer_order_id,order_id
    from agent_merchants_details

  </select>
  <select id="selectSuccessCountByParam" resultType="java.lang.Integer"  parameterType="java.util.Map">
    select count(1) from agent_merchants_details
    <trim prefix="WHERE" suffixOverrides="AND">
      <if test="paramMap.id != null ">
        id = #{paramMap.id}  AND
      </if>
      <if test="paramMap.agentMerId != null ">
        agent_mer_id = #{paramMap.agentMerId} AND
      </if>
      <if test="paramMap.merOrderId != null ">
        mer_order_id = #{paramMap.merOrderId}  AND
      </if>
      <if test="paramMap.orderId != null ">
        order_id = #{paramMap.orderId} AND
      </if>
      <if test="paramMap.amount != null ">
        amount = #{paramMap.amount} AND
      </if>
      <if test="paramMap.type != null ">
        type = #{paramMap.type} AND
      </if>
      <if test="paramMap.inAmount != null ">
        in_amount = #{paramMap.inAmount} AND
      </if>
      <if test="paramMap.outAmount != null ">
        out_amount = #{paramMap.outAmount} AND
      </if>
      <if test="paramMap.fee != null ">
        fee = #{paramMap.fee} AND
      </if>
      <if test="paramMap.totalBenifit != null ">
        total_benifit = #{paramMap.totalBenifit} AND
      </if>
      <if test="paramMap.updateTime != null ">
        update_time = #{paramMap.updateTime} AND
      </if>
      <if test="paramMap.startDate != null and paramMap.endDate == null">
        DATE_FORMAT( trade_time ,'%Y-%m-%d')
        BETWEEN
        DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
        AND
        DATE_FORMAT(    NOW(),'%Y-%m-%d')
      </if>
      <if test="paramMap.startDate != null and paramMap.endDate != null ">
        DATE_FORMAT( update_time ,'%Y-%m-%d')  BETWEEN
        DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
        AND
        DATE_FORMAT(  #{paramMap.endDate},'%Y-%m-%d')
      </if>
    </trim>
  </select>
  <select id="selectAllAgentMerchantsDetails" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    agent_merchants_details
    <trim prefix="WHERE" suffixOverrides="AND">
      <if test="paramMap.id != null ">
        id = #{paramMap.id}  AND
      </if>
      <if test="paramMap.agentMerId != null ">
        agent_mer_id = #{paramMap.agentMerId} AND
      </if>
      <if test="paramMap.merOrderId != null ">
        mer_order_id = #{paramMap.merOrderId}  AND
      </if>
      <if test="paramMap.orderId != null ">
        order_id = #{paramMap.orderId} AND
      </if>
      <if test="paramMap.amount != null ">
        amount = #{paramMap.amount} AND
      </if>
      <if test="paramMap.type != null ">
        type = #{paramMap.type} AND
      </if>
      <if test="paramMap.inAmount != null ">
        in_amount = #{paramMap.inAmount} AND
      </if>
      <if test="paramMap.outAmount != null ">
        out_amount = #{paramMap.outAmount} AND
      </if>
      <if test="paramMap.fee != null ">
        fee = #{paramMap.fee} AND
      </if>
      <if test="paramMap.totalBenifit != null ">
        total_benifit = #{paramMap.totalBenifit} AND
      </if>
      <if test="paramMap.updateTime != null ">
        update_time = #{paramMap.updateTime} AND
      </if>
      <if test="paramMap.startDate != null and paramMap.endDate == null">
        DATE_FORMAT( trade_time ,'%Y-%m-%d')
        BETWEEN
        DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
        AND
        DATE_FORMAT(    NOW(),'%Y-%m-%d')
      </if>
      <if test="paramMap.startDate != null and paramMap.endDate != null ">
        DATE_FORMAT( update_time ,'%Y-%m-%d')  BETWEEN
        DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
        AND
        DATE_FORMAT(  #{paramMap.endDate},'%Y-%m-%d')
      </if>
    </trim>
    order by timestamp desc, update_time desc
    LIMIT #{paramMap.startPage},#{paramMap.pageSize}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from agent_merchants_details
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.rxh.square.pojo.AgentMerchantsDetailsExample" >
    delete from agent_merchants_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rxh.square.pojo.AgentMerchantsDetails" >
    insert into agent_merchants_details (id, agent_mer_id, mer_order_id,
      order_id, amount, type,
      in_amount, out_amount, fee,
      total_benifit, update_time,timestamp)
    values ( #{id,jdbcType=VARCHAR}, #{agentMerId,jdbcType=VARCHAR}, #{merOrderId,jdbcType=VARCHAR},
      #{orderId,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR},
      #{inAmount,jdbcType=DECIMAL}, #{outAmount,jdbcType=DECIMAL}, #{fee,jdbcType=DECIMAL},
      #{totalBenifit,jdbcType=DECIMAL}, #{updateTime,jdbcType=TIMESTAMP},#{timestamp,jdbcType=VARCHAR})
  </insert>

  <insert id="insetByBath" parameterType="java.util.List">
     insert into agent_merchants_details (id, agent_mer_id, mer_order_id,
      order_id, amount, type,
      in_amount, out_amount, fee,
      total_benifit, update_time)
    values
    <foreach collection="agentMerchantsDetailsList"  index="index" item="item" separator=",">
      (#{id,jdbcType=VARCHAR}, #{item.agentMerId,jdbcType=VARCHAR}, #{item.merOrderId,jdbcType=VARCHAR},
      #{item.orderId,jdbcType=VARCHAR}, #{item.amount,jdbcType=DECIMAL}, #{item.type,jdbcType=VARCHAR},
      #{item.inAmount,jdbcType=DECIMAL}, #{item.outAmount,jdbcType=DECIMAL}, #{item.fee,jdbcType=DECIMAL},
      #{item.totalBenifit,jdbcType=DECIMAL}, #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>

  </insert>

  <insert id="insertSelective" parameterType="com.rxh.square.pojo.AgentMerchantsDetails" >
    insert into agent_merchants_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="agentMerId != null" >
        agent_mer_id,
      </if>
      <if test="merOrderId != null" >
        mer_order_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="inAmount != null" >
        in_amount,
      </if>
      <if test="outAmount != null" >
        out_amount,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="totalBenifit != null" >
        total_benifit,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
          #{id,jdbcType=VARCHAR},
      </if>
      <if test="agentMerId != null" >
        #{agentMerId,jdbcType=VARCHAR},
      </if>
      <if test="merOrderId != null" >
        #{merOrderId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="inAmount != null" >
        #{inAmount,jdbcType=DECIMAL},
      </if>
      <if test="outAmount != null" >
        #{outAmount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="totalBenifit != null" >
        #{totalBenifit,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rxh.square.pojo.AgentMerchantsDetailsExample" resultType="java.lang.Integer" >
    select count(*) from agent_merchants_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update agent_merchants_details
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.agentMerId != null" >
        agent_mer_id = #{record.agentMerId,jdbcType=VARCHAR},
      </if>
      <if test="record.merOrderId != null" >
        mer_order_id = #{record.merOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.inAmount != null" >
        in_amount = #{record.inAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.outAmount != null" >
        out_amount = #{record.outAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.fee != null" >
        fee = #{record.fee,jdbcType=DECIMAL},
      </if>
      <if test="record.totalBenifit != null" >
        total_benifit = #{record.totalBenifit,jdbcType=DECIMAL},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update agent_merchants_details
    set id = #{record.id,jdbcType=VARCHAR},
    agent_mer_id = #{record.agentMerId,jdbcType=VARCHAR},
    mer_order_id = #{record.merOrderId,jdbcType=VARCHAR},
    order_id = #{record.orderId,jdbcType=VARCHAR},
    amount = #{record.amount,jdbcType=DECIMAL},
    type = #{record.type,jdbcType=VARCHAR},
    in_amount = #{record.inAmount,jdbcType=DECIMAL},
    out_amount = #{record.outAmount,jdbcType=DECIMAL},
    fee = #{record.fee,jdbcType=DECIMAL},
    total_benifit = #{record.totalBenifit,jdbcType=DECIMAL},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rxh.square.pojo.AgentMerchantsDetails" >
    update agent_merchants_details
    <set >
      <if test="agentMerId != null" >
        agent_mer_id = #{agentMerId,jdbcType=VARCHAR},
      </if>
      <if test="merOrderId != null" >
        mer_order_id = #{merOrderId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="inAmount != null" >
        in_amount = #{inAmount,jdbcType=DECIMAL},
      </if>
      <if test="outAmount != null" >
        out_amount = #{outAmount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="totalBenifit != null" >
        total_benifit = #{totalBenifit,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rxh.square.pojo.AgentMerchantsDetails" >
    update agent_merchants_details
    set agent_mer_id = #{agentMerId,jdbcType=VARCHAR},
      mer_order_id = #{merOrderId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      type = #{type,jdbcType=VARCHAR},
      in_amount = #{inAmount,jdbcType=DECIMAL},
      out_amount = #{outAmount,jdbcType=DECIMAL},
      fee = #{fee,jdbcType=DECIMAL},
      total_benifit = #{totalBenifit,jdbcType=DECIMAL},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="searchByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from agent_merchants_details
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
</mapper>