<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rxh.mapper.square.AgentWalletMapper" >
  <resultMap id="BaseResultMap" type="com.rxh.square.pojo.AgentWallet" >
    <id column="agent_merchant_id" property="agentMerchantId" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="income_amount" property="incomeAmount" jdbcType="DECIMAL" />
    <result column="out_amount" property="outAmount" jdbcType="DECIMAL" />
    <result column="total_balance" property="totalBalance" jdbcType="DECIMAL" />
    <result column="total_available_amount" property="totalAvailableAmount" jdbcType="DECIMAL" />
    <result column="total_unavailable_amount" property="totalUnavailableAmount" jdbcType="DECIMAL" />
    <result column="total_fee" property="totalFee" jdbcType="DECIMAL" />
    <result column="total_freeze_amount" property="totalFreezeAmount" jdbcType="DECIMAL" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    agent_merchant_id, total_amount, income_amount, out_amount, total_balance, total_available_amount,
    total_unavailable_amount, total_fee, total_freeze_amount, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rxh.square.pojo.AgentWalletExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from agent_wallet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from agent_wallet
    where agent_merchant_id = #{agentMerchantId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from agent_wallet
    where agent_merchant_id = #{agentMerchantId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.rxh.square.pojo.AgentWalletExample" >
    delete from agent_wallet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rxh.square.pojo.AgentWallet" >
    insert into agent_wallet (agent_merchant_id, total_amount, income_amount,
      out_amount, total_balance, total_available_amount,
      total_unavailable_amount, total_fee, total_freeze_amount,
      update_time)
    values (#{agentMerchantId,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DECIMAL}, #{incomeAmount,jdbcType=DECIMAL},
      #{outAmount,jdbcType=DECIMAL}, #{totalBalance,jdbcType=DECIMAL}, #{totalAvailableAmount,jdbcType=DECIMAL},
      #{totalUnavailableAmount,jdbcType=DECIMAL}, #{totalFee,jdbcType=DECIMAL}, #{totalFreezeAmount,jdbcType=DECIMAL},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rxh.square.pojo.AgentWallet" >
    insert into agent_wallet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="agentMerchantId != null" >
        agent_merchant_id,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="incomeAmount != null" >
        income_amount,
      </if>
      <if test="outAmount != null" >
        out_amount,
      </if>
      <if test="totalBalance != null" >
        total_balance,
      </if>
      <if test="totalAvailableAmount != null" >
        total_available_amount,
      </if>
      <if test="totalUnavailableAmount != null" >
        total_unavailable_amount,
      </if>
      <if test="totalFee != null" >
        total_fee,
      </if>
      <if test="totalFreezeAmount != null" >
        total_freeze_amount,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="agentMerchantId != null" >
        #{agentMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="incomeAmount != null" >
        #{incomeAmount,jdbcType=DECIMAL},
      </if>
      <if test="outAmount != null" >
        #{outAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalBalance != null" >
        #{totalBalance,jdbcType=DECIMAL},
      </if>
      <if test="totalAvailableAmount != null" >
        #{totalAvailableAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalUnavailableAmount != null" >
        #{totalUnavailableAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="totalFreezeAmount != null" >
        #{totalFreezeAmount,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rxh.square.pojo.AgentWalletExample" resultType="java.lang.Integer" >
    select count(*) from agent_wallet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update agent_wallet
    <set >
      <if test="record.agentMerchantId != null" >
        agent_merchant_id = #{record.agentMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="record.totalAmount != null" >
        total_amount = #{record.totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.incomeAmount != null" >
        income_amount = #{record.incomeAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.outAmount != null" >
        out_amount = #{record.outAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.totalBalance != null" >
        total_balance = #{record.totalBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.totalAvailableAmount != null" >
        total_available_amount = #{record.totalAvailableAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.totalUnavailableAmount != null" >
        total_unavailable_amount = #{record.totalUnavailableAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.totalFee != null" >
        total_fee = #{record.totalFee,jdbcType=DECIMAL},
      </if>
      <if test="record.totalFreezeAmount != null" >
        total_freeze_amount = #{record.totalFreezeAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update agent_wallet
    set agent_merchant_id = #{record.agentMerchantId,jdbcType=VARCHAR},
    total_amount = #{record.totalAmount,jdbcType=DECIMAL},
    income_amount = #{record.incomeAmount,jdbcType=DECIMAL},
    out_amount = #{record.outAmount,jdbcType=DECIMAL},
    total_balance = #{record.totalBalance,jdbcType=DECIMAL},
    total_available_amount = #{record.totalAvailableAmount,jdbcType=DECIMAL},
    total_unavailable_amount = #{record.totalUnavailableAmount,jdbcType=DECIMAL},
    total_fee = #{record.totalFee,jdbcType=DECIMAL},
    total_freeze_amount = #{record.totalFreezeAmount,jdbcType=DECIMAL},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rxh.square.pojo.AgentWallet" >
    update agent_wallet
    <set >
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="incomeAmount != null" >
        income_amount = #{incomeAmount,jdbcType=DECIMAL},
      </if>
      <if test="outAmount != null" >
        out_amount = #{outAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalBalance != null" >
        total_balance = #{totalBalance,jdbcType=DECIMAL},
      </if>
      <if test="totalAvailableAmount != null" >
        total_available_amount = #{totalAvailableAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalUnavailableAmount != null" >
        total_unavailable_amount = #{totalUnavailableAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalFee != null" >
        total_fee = #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="totalFreezeAmount != null" >
        total_freeze_amount = #{totalFreezeAmount,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where agent_merchant_id = #{agentMerchantId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rxh.square.pojo.AgentWallet" >
    update agent_wallet
    set total_amount = #{totalAmount,jdbcType=DECIMAL},
      income_amount = #{incomeAmount,jdbcType=DECIMAL},
      out_amount = #{outAmount,jdbcType=DECIMAL},
      total_balance = #{totalBalance,jdbcType=DECIMAL},
      total_available_amount = #{totalAvailableAmount,jdbcType=DECIMAL},
      total_unavailable_amount = #{totalUnavailableAmount,jdbcType=DECIMAL},
      total_fee = #{totalFee,jdbcType=DECIMAL},
      total_freeze_amount = #{totalFreezeAmount,jdbcType=DECIMAL},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where agent_merchant_id = #{agentMerchantId,jdbcType=VARCHAR}
  </update>



  <select id="search" resultMap="BaseResultMap"   >
    select
    <include refid="Base_Column_List" />
    from agent_wallet
    <if test="agentMerchantId!=null">
      where
      agent_merchant_id=#{agentMerchantId}
    </if>
  </select>
</mapper>