<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rxh.mapper.square.BatchRepayMapper" >
    <resultMap id="BaseResultMap" type="com.rxh.square.pojo.BatchData" >
        <id column="mer_id" property="merId" jdbcType="VARCHAR" />
        <result column="mer_order_id" property="merOrderId" jdbcType="VARCHAR" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
        <result column="in_acct_no" property="inAcctNo" jdbcType="VARCHAR" />
        <result column="in_acct_name" property="inAcctName" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="return_url" property="returnUrl" jdbcType="VARCHAR" />
        <result column="notice_url" property="noticeUrl" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
    mer_id, mer_order_id, order_id, amount, bank_code, in_acct_no, in_acct_name, remark, return_url, notice_url, status, create_time
    </sql>
    <select id="selectAllBatchData" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM batch_data
        WHERE mer_id = #{merId,jdbcType=VARCHAR}
        ORDER BY create_time DESC
    </select>
    <select id="selectBatchDataCountByParam" resultType="java.lang.Integer"  parameterType="java.util.Map">
        select count(1) from batch_data b
        <trim prefix="WHERE" suffixOverrides="AND">

            <if test="paramMap.merId != null ">
                b.mer_id = #{paramMap.merId}  AND
            </if>
            <if test="paramMap.merOrderId != null ">
                b.mer_order_id = #{paramMap.merOrderId} AND
            </if>
            <if test="paramMap.orderId != null ">
                b.order_id = #{paramMap.orderId} AND
            </if>
            <if test="paramMap.inAcctNo != null ">
                b.in_acct_no = #{paramMap.inAcctNo} AND
            </if>
            <if test="paramMap.inAcctName != null ">
                b.in_acct_name = #{paramMap.inAcctName} AND
            </if>

            <if test="paramMap.startDate != null and paramMap.endDate == null">
                DATE_FORMAT( b.create_time ,'%Y-%m-%d')
                BETWEEN
                DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
                AND
                DATE_FORMAT(    NOW(),'%Y-%m-%d')
            </if>
            <if test="paramMap.startDate != null and paramMap.endDate != null ">
                DATE_FORMAT( b.create_time ,'%Y-%m-%d')  BETWEEN
                DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
                AND
                DATE_FORMAT(  #{paramMap.endDate},'%Y-%m-%d')
            </if>
        </trim>
    </select>
    <select id="selectAllBatchDataByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        batch_data
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="paramMap.merId != null ">
                mer_id = #{paramMap.merId} AND
            </if>
            <if test="paramMap.merOrderId != null ">
                mer_order_id = #{paramMap.merOrderId}  AND
            </if>
            <if test="paramMap.orderId != null ">
                order_id = #{paramMap.orderId} AND
            </if>
            <if test="paramMap.amount != null ">
                amount = #{paramMap.amount} AND
            </if>
            <if test="paramMap.bankCode != null ">
                bank_code = #{paramMap.bankCode} AND
            </if>
            <if test="paramMap.inAcctNo != null ">
                in_acct_no = #{paramMap.inAcctNo} AND
            </if>
            <if test="paramMap.inAcctName != null ">
                in_acct_name = #{paramMap.inAcctName} AND
            </if>
            <if test="paramMap.remark != null ">
                remark = #{paramMap.remark} AND
            </if>
            <if test="paramMap.returnUrl != null ">
                return_url = #{paramMap.returnUrl} AND
            </if>
            <if test="paramMap.noticeUrl != null ">
                notice_url = #{paramMap.noticeUrl} AND
            </if>
            <if test="paramMap.status != null ">
                status = #{paramMap.status} AND
            </if>

            <if test="paramMap.startDate != null and paramMap.endDate == null">
                DATE_FORMAT( create_time ,'%Y-%m-%d')
                BETWEEN
                DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
                AND
                DATE_FORMAT(    NOW(),'%Y-%m-%d')
            </if>
            <if test="paramMap.startDate != null and paramMap.endDate != null ">
                DATE_FORMAT( create_time ,'%Y-%m-%d')  BETWEEN
                DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
                AND
                DATE_FORMAT(  #{paramMap.endDate},'%Y-%m-%d')
            </if>
        </trim>
        order by create_time desc
        LIMIT #{paramMap.startPage},#{paramMap.pageSize}
    </select>
    <insert id="insertSelective" parameterType="com.rxh.square.pojo.BatchData" >
        insert into batch_data
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="merId != null ">
                mer_id,
            </if>
            <if test="merOrderId != null ">
                mer_order_id,
            </if>
            <if test="orderId != null ">
                order_id,
            </if>
            <if test="amount != null ">
                amount,
            </if>
            <if test="bankCode != null ">
                bank_code,
            </if>
            <if test="inAcctNo != null ">
                in_acct_no,
            </if>
            <if test="inAcctName != null ">
                in_acct_name,
            </if>
            <if test="remark != null ">
                remark,
            </if>
            <if test="returnUrl != null ">
                return_url,
            </if>
            <if test="noticeUrl != null ">
                notice_url,
            </if>
            <if test="status != null ">
                status,
            </if>
            <if test="createTime != null ">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="merId != null" >
                #{merId,jdbcType=VARCHAR},
            </if>
            <if test="merOrderId != null" >
                #{merOrderId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null" >
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="amount != null" >
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="bankCode != null" >
                #{bankCode,jdbcType=VARCHAR},
            </if>
            <if test="inAcctNo != null" >
                #{inAcctNo,jdbcType=VARCHAR},
            </if>
            <if test="inAcctName != null" >
                #{inAcctName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="returnUrl != null" >
                #{returnUrl,jdbcType=VARCHAR},
            </if>
            <if test="noticeUrl != null" >
                #{noticeUrl,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>

        </trim>
    </insert>
    <select id="selectMerOrder" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        mer_order_id
        FROM
        batch_data
        WHERE
        mer_id = #{merId,jdbcType=VARCHAR}
    </select>
</mapper>
