<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rxh.mapper.square.FinanceDrawingSquareMapper" >

    <resultMap id="BaseResultMap" type="com.rxh.square.pojo.FinanceDrawing" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
        <result column="drawing_amount" property="drawingAmount" jdbcType="DECIMAL" />
        <result column="transfer_amount" property="transferAmount" jdbcType="DECIMAL" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="application_time" property="applicationTime" jdbcType="TIMESTAMP" />
        <result column="applicant" property="applicant" jdbcType="VARCHAR" />
        <result column="transfer_time" property="transferTime" jdbcType="TIMESTAMP" />
        <result column="transferer" property="transferer" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, customer_id, drawing_amount, transfer_amount, status, application_time, applicant, 
        transfer_time, transferer
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from finance_drawing
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from finance_drawing
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.rxh.square.pojo.FinanceDrawing" >
        insert into finance_drawing (id, customer_id, drawing_amount, 
            transfer_amount, status, application_time, 
            applicant, transfer_time, transferer
            )
        values (#{id,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{drawingAmount,jdbcType=DECIMAL}, 
            #{transferAmount,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{applicationTime,jdbcType=TIMESTAMP}, 
            #{applicant,jdbcType=VARCHAR}, #{transferTime,jdbcType=TIMESTAMP}, #{transferer,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.rxh.square.pojo.FinanceDrawing" >
        insert into finance_drawing
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="customerId != null" >
                customer_id,
            </if>
            <if test="drawingAmount != null" >
                drawing_amount,
            </if>
            <if test="transferAmount != null" >
                transfer_amount,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="applicationTime != null" >
                application_time,
            </if>
            <if test="applicant != null" >
                applicant,
            </if>
            <if test="transferTime != null" >
                transfer_time,
            </if>
            <if test="transferer != null" >
                transferer,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="customerId != null" >
                #{customerId,jdbcType=VARCHAR},
            </if>
            <if test="drawingAmount != null" >
                #{drawingAmount,jdbcType=DECIMAL},
            </if>
            <if test="transferAmount != null" >
                #{transferAmount,jdbcType=DECIMAL},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="applicationTime != null" >
                #{applicationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="applicant != null" >
                #{applicant,jdbcType=VARCHAR},
            </if>
            <if test="transferTime != null" >
                #{transferTime,jdbcType=TIMESTAMP},
            </if>
            <if test="transferer != null" >
                #{transferer,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.rxh.square.pojo.FinanceDrawing" >
        update finance_drawing
        <set >
            <if test="customerId != null" >
                customer_id = #{customerId,jdbcType=VARCHAR},
            </if>
            <if test="drawingAmount != null" >
                drawing_amount = #{drawingAmount,jdbcType=DECIMAL},
            </if>
            <if test="transferAmount != null" >
                transfer_amount = #{transferAmount,jdbcType=DECIMAL},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="applicationTime != null" >
                application_time = #{applicationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="applicant != null" >
                applicant = #{applicant,jdbcType=VARCHAR},
            </if>
            <if test="transferTime != null" >
                transfer_time = #{transferTime,jdbcType=TIMESTAMP},
            </if>
            <if test="transferer != null" >
                transferer = #{transferer,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.rxh.square.pojo.FinanceDrawing" >
        update finance_drawing
        set customer_id = #{customerId,jdbcType=VARCHAR},
            drawing_amount = #{drawingAmount,jdbcType=DECIMAL},
            transfer_amount = #{transferAmount,jdbcType=DECIMAL},
            status = #{status,jdbcType=INTEGER},
            application_time = #{applicationTime,jdbcType=TIMESTAMP},
            applicant = #{applicant,jdbcType=VARCHAR},
            transfer_time = #{transferTime,jdbcType=TIMESTAMP},
            transferer = #{transferer,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="search" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from finance_drawing
        <if test="merId!=null">
            where
            customer_id=#{merId}
        </if>
        order by transfer_time desc
    </select>

    <select id="selectSuccessOrderCountByParam" resultType="java.lang.Integer"  parameterType="java.util.Map">
         select count(1) from finance_drawing
        <if test="paramMap.merId!=null">
            where
            customer_id=#{paramMap.merId}
        </if>
    </select>
    <select id="getMaxDrawingId" resultType="java.lang.String">
      SELECT
          MAX(id) id
      FROM
         finance_drawing;
  </select>
    <select id="selectBySearchInfo" parameterType="com.rxh.pojo.base.SearchInfo"
            resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM finance_drawing
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="id != null">
                id = #{id} AND
            </if>
            <if test="customerId != null">
                customer_id = #{customerId} AND
            </if>
            <if test="status != null">
                status = #{status} AND
            </if>
            <if test="startDate != null and endDate == null">
                application_time >= #{startDate} AND
            </if>
            <if test="startDate != null and endDate != null">
                application_time BETWEEN #{startDate} AND #{endDate} AND
            </if>
            <if test="startDate2 != null and endDate2 == null">
                transfer_time >= #{startDate2} AND
            </if>
            <if test="startDate2 != null and endDate2 != null">
                transfer_time BETWEEN #{startDate2} AND #{endDate2} AND
            </if>
        </trim>
    </select>

</mapper>