<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rxh.mapper.square.MerchantWalletMapper" >
  <resultMap id="BaseResultMap" type="com.rxh.square.pojo.MerchantWallet" >
    <id column="mer_id" property="merId" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="income_amount" property="incomeAmount" jdbcType="DECIMAL" />
    <result column="out_amount" property="outAmount" jdbcType="DECIMAL" />
    <result column="total_fee" property="totalFee" jdbcType="DECIMAL" />
    <result column="fee_profit" property="feeProfit" jdbcType="DECIMAL" />
    <result column="total_bond" property="totalBond" jdbcType="DECIMAL" />
    <result column="total_balance" property="totalBalance" jdbcType="DECIMAL" />
    <result column="total_available_amount" property="totalAvailableAmount" jdbcType="DECIMAL" />
    <result column="total_unavailable_amount" property="totalUnavailableAmount" jdbcType="DECIMAL" />
    <result column="total_freeze_amount" property="totalFreezeAmount" jdbcType="DECIMAL" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mer_id, total_amount, income_amount, out_amount, total_fee, fee_profit, total_bond,
    total_balance, total_available_amount, total_unavailable_amount, total_freeze_amount,
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rxh.square.pojo.MerchantWalletExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from merchant_wallet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from merchant_wallet
    where mer_id = #{merId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from merchant_wallet
    where mer_id = #{merId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.rxh.square.pojo.MerchantWalletExample" >
    delete from merchant_wallet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rxh.square.pojo.MerchantWallet" >
    insert into merchant_wallet (mer_id, total_amount, income_amount,
      out_amount, total_fee, fee_profit,
      total_bond, total_balance, total_available_amount,
      total_unavailable_amount, total_freeze_amount,
      update_time)
    values (#{merId,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DECIMAL}, #{incomeAmount,jdbcType=DECIMAL},
      #{outAmount,jdbcType=DECIMAL}, #{totalFee,jdbcType=DECIMAL}, #{feeProfit,jdbcType=DECIMAL},
      #{totalBond,jdbcType=DECIMAL}, #{totalBalance,jdbcType=DECIMAL}, #{totalAvailableAmount,jdbcType=DECIMAL},
      #{totalUnavailableAmount,jdbcType=DECIMAL}, #{totalFreezeAmount,jdbcType=DECIMAL},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rxh.square.pojo.MerchantWallet" >
    insert into merchant_wallet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="merId != null" >
        mer_id,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="incomeAmount != null" >
        income_amount,
      </if>
      <if test="outAmount != null" >
        out_amount,
      </if>
      <if test="totalFee != null" >
        total_fee,
      </if>
      <if test="feeProfit != null" >
        fee_profit,
      </if>
      <if test="totalBond != null" >
        total_bond,
      </if>
      <if test="totalBalance != null" >
        total_balance,
      </if>
      <if test="totalAvailableAmount != null" >
        total_available_amount,
      </if>
      <if test="totalUnavailableAmount != null" >
        total_unavailable_amount,
      </if>
      <if test="totalFreezeAmount != null" >
        total_freeze_amount,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="merId != null" >
        #{merId,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="incomeAmount != null" >
        #{incomeAmount,jdbcType=DECIMAL},
      </if>
      <if test="outAmount != null" >
        #{outAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="feeProfit != null" >
        #{feeProfit,jdbcType=DECIMAL},
      </if>
      <if test="totalBond != null" >
        #{totalBond,jdbcType=DECIMAL},
      </if>
      <if test="totalBalance != null" >
        #{totalBalance,jdbcType=DECIMAL},
      </if>
      <if test="totalAvailableAmount != null" >
        #{totalAvailableAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalUnavailableAmount != null" >
        #{totalUnavailableAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalFreezeAmount != null" >
        #{totalFreezeAmount,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rxh.square.pojo.MerchantWalletExample" resultType="java.lang.Integer" >
    select count(*) from merchant_wallet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update merchant_wallet
    <set >
      <if test="record.merId != null" >
        mer_id = #{record.merId,jdbcType=VARCHAR},
      </if>
      <if test="record.totalAmount != null" >
        total_amount = #{record.totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.incomeAmount != null" >
        income_amount = #{record.incomeAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.outAmount != null" >
        out_amount = #{record.outAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.totalFee != null" >
        total_fee = #{record.totalFee,jdbcType=DECIMAL},
      </if>
      <if test="record.feeProfit != null" >
        fee_profit = #{record.feeProfit,jdbcType=DECIMAL},
      </if>
      <if test="record.totalBond != null" >
        total_bond = #{record.totalBond,jdbcType=DECIMAL},
      </if>
      <if test="record.totalBalance != null" >
        total_balance = #{record.totalBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.totalAvailableAmount != null" >
        total_available_amount = #{record.totalAvailableAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.totalUnavailableAmount != null" >
        total_unavailable_amount = #{record.totalUnavailableAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.totalFreezeAmount != null" >
        total_freeze_amount = #{record.totalFreezeAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update merchant_wallet
    set mer_id = #{record.merId,jdbcType=VARCHAR},
    total_amount = #{record.totalAmount,jdbcType=DECIMAL},
    income_amount = #{record.incomeAmount,jdbcType=DECIMAL},
    out_amount = #{record.outAmount,jdbcType=DECIMAL},
    total_fee = #{record.totalFee,jdbcType=DECIMAL},
    fee_profit = #{record.feeProfit,jdbcType=DECIMAL},
    total_bond = #{record.totalBond,jdbcType=DECIMAL},
    total_balance = #{record.totalBalance,jdbcType=DECIMAL},
    total_available_amount = #{record.totalAvailableAmount,jdbcType=DECIMAL},
    total_unavailable_amount = #{record.totalUnavailableAmount,jdbcType=DECIMAL},
    total_freeze_amount = #{record.totalFreezeAmount,jdbcType=DECIMAL},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rxh.square.pojo.MerchantWallet" >
    update merchant_wallet
    <set >
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="incomeAmount != null" >
        income_amount = #{incomeAmount,jdbcType=DECIMAL},
      </if>
      <if test="outAmount != null" >
        out_amount = #{outAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalFee != null" >
        total_fee = #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="feeProfit != null" >
        fee_profit = #{feeProfit,jdbcType=DECIMAL},
      </if>
      <if test="totalBond != null" >
        total_bond = #{totalBond,jdbcType=DECIMAL},
      </if>
      <if test="totalBalance != null" >
        total_balance = #{totalBalance,jdbcType=DECIMAL},
      </if>
      <if test="totalAvailableAmount != null" >
        total_available_amount = #{totalAvailableAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalUnavailableAmount != null" >
        total_unavailable_amount = #{totalUnavailableAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalFreezeAmount != null" >
        total_freeze_amount = #{totalFreezeAmount,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mer_id = #{merId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rxh.square.pojo.MerchantWallet" >
    update merchant_wallet
    set total_amount = #{totalAmount,jdbcType=DECIMAL},
      income_amount = #{incomeAmount,jdbcType=DECIMAL},
      out_amount = #{outAmount,jdbcType=DECIMAL},
      total_fee = #{totalFee,jdbcType=DECIMAL},
      fee_profit = #{feeProfit,jdbcType=DECIMAL},
      total_bond = #{totalBond,jdbcType=DECIMAL},
      total_balance = #{totalBalance,jdbcType=DECIMAL},
      total_available_amount = #{totalAvailableAmount,jdbcType=DECIMAL},
      total_unavailable_amount = #{totalUnavailableAmount,jdbcType=DECIMAL},
      total_freeze_amount = #{totalFreezeAmount,jdbcType=DECIMAL},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where mer_id = #{merId,jdbcType=VARCHAR}
  </update>


  <select id="searchByParam" resultMap="BaseResultMap"  >
    SELECT
    mw.*
    FROM
    merchant_wallet mw
    LEFT JOIN merchant_info mi ON mi.mer_id = mw.mer_id

    <trim prefix="WHERE" suffixOverrides="and">
      <if test="merId!=null">
        mw.mer_id=#{merId,jdbcType=VARCHAR} and
      </if>
      <if test="parentId!=null">
        mi.parent_id=#{parentId,jdbcType=VARCHAR} and
      </if>
    </trim>



  </select>


  <select id="getMerchantIdIncre" resultType="java.lang.String">
      SELECT
          MAX(@rownum :=@rownum + 1) + 1 AS merchantId
      FROM
          (SELECT @rownum := 100000) r,
         merchant_info;
  </select>
  <select id="getMaxMerId" resultType="java.lang.String">
      SELECT
          MAX(mer_id) mer_id
      FROM
         merchant_info;
  </select>
  <select id="search" resultMap="BaseResultMap"   >
    select
    <include refid="Base_Column_List" />
    from merchant_wallet
    <if test="merId!=null">
      where
      mer_id=#{merId}
    </if>
  </select>

</mapper>