<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rxh.mapper.square.MerchantSquareSettingMapper" >
  <resultMap id="BaseResultMap" type="com.rxh.square.pojo.MerchantSetting" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="mer_id" property="merId" jdbcType="VARCHAR" />
    <result column="organization_id" property="organizationId" jdbcType="VARCHAR" />
    <result column="channel_id" property="channelId" jdbcType="VARCHAR" />
    <result column="channel_level" property="channelLevel" jdbcType="INTEGER" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mer_id, organization_id, channel_id, channel_level, pay_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rxh.square.pojo.MerchantSettingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from merchant_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from merchant_setting
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByMerId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from merchant_setting
    where mer_id = #{merId,jdbcType=VARCHAR}
  </select>
  <select id="selectMerByMerId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT
      *
      FROM
      merchant_setting m
      WHERE
      (
          SELECT
              organization_id
          FROM
              organization_info o
          WHERE
              m.organization_id = o.organization_id
          AND o. STATUS = 0
      )
      AND (
      SELECT
          channel_id
      FROM
          channel_info c
      WHERE
          m.channel_id = c.channel_id
      AND c. STATUS = 0
      )
      AND m.mer_id = #{merId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from merchant_setting
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByMerId" parameterType="java.lang.String" >
    delete from merchant_setting
    where mer_id = #{merId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.rxh.square.pojo.MerchantSettingExample" >
    delete from merchant_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rxh.square.pojo.MerchantSetting" >
    insert into merchant_setting (id, mer_id, organization_id,
      channel_id, channel_level, pay_type
      )
    values (#{id,jdbcType=VARCHAR}, #{merId,jdbcType=VARCHAR}, #{organizationId,jdbcType=VARCHAR},
      #{channelId,jdbcType=VARCHAR}, #{channelLevel,jdbcType=INTEGER}, #{payType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rxh.square.pojo.MerchantSetting" >
    insert into merchant_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merId != null" >
        mer_id,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="channelLevel != null" >
        channel_level,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="merId != null" >
        #{merId,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="channelLevel != null" >
        #{channelLevel,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rxh.square.pojo.MerchantSettingExample" resultType="java.lang.Integer" >
    select count(*) from merchant_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update merchant_setting
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.merId != null" >
        mer_id = #{record.merId,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationId != null" >
        organization_id = #{record.organizationId,jdbcType=VARCHAR},
      </if>
      <if test="record.channelId != null" >
        channel_id = #{record.channelId,jdbcType=VARCHAR},
      </if>
      <if test="record.channelLevel != null" >
        channel_level = #{record.channelLevel,jdbcType=INTEGER},
      </if>
      <if test="record.payType != null" >
        pay_type = #{record.payType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update merchant_setting
    set id = #{record.id,jdbcType=VARCHAR},
      mer_id = #{record.merId,jdbcType=VARCHAR},
      organization_id = #{record.organizationId,jdbcType=VARCHAR},
      channel_id = #{record.channelId,jdbcType=VARCHAR},
      channel_level = #{record.channelLevel,jdbcType=INTEGER},
      pay_type = #{record.payType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rxh.square.pojo.MerchantSetting" >
    update merchant_setting
    <set >
      <!--<if test="merId != null" >-->
        <!--mer_id = #{merId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <if test="organizationId==''">
        organization_id =null  ,
      </if>
      <if test="organizationId != null and organizationId!=''" >
          organization_id = #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="channelId==''">
        channel_id = null,
      </if>
      <if test="channelId != null and channelId!='' " >
          channel_id = #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="channelLevel != null" >
        channel_level = #{channelLevel,jdbcType=INTEGER},
      </if>
      <if test="payType==''">
        pay_type = null,
      </if>
      <if test="payType != null and payType != ''" >
          pay_type = #{payType,jdbcType=VARCHAR},
      </if>
    </set>
    where mer_id = #{merId,jdbcType=VARCHAR}
  </update>
  <update id="updateByMerId" parameterType="com.rxh.square.pojo.MerchantSetting" >
    update merchant_setting
    set mer_id = #{merId,jdbcType=VARCHAR},
      organization_id = #{organizationId,jdbcType=VARCHAR},
      channel_id = #{channelId,jdbcType=VARCHAR},
      channel_level = #{channelLevel,jdbcType=INTEGER},
      pay_type = #{payType,jdbcType=VARCHAR}
    where mer_id = #{merId,jdbcType=VARCHAR}
  </update>
</mapper>
