<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rxh.mapper.square.MerchantChannelHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.rxh.square.pojo.MerchantChannelHistory" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="organization_id" property="organizationId" jdbcType="VARCHAR" />
    <result column="channel_id" property="channelId" jdbcType="VARCHAR" />
    <result column="mer_id" property="merId" jdbcType="VARCHAR" />
    <result column="channel_type" property="channelType" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="trade_count" property="tradeCount" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="change_time" property="changeTime" jdbcType="TIMESTAMP" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, organization_id, channel_id, mer_id, channel_type, amount, trade_count, create_time,
    change_time, reason, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rxh.square.pojo.MerchantChannelHistoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from merchant_channel_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from merchant_channel_history
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getLastUseChannel" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from merchant_channel_history
    where mer_id = #{merId,jdbcType=VARCHAR}
    and
    status = #{status,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from merchant_channel_history
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.rxh.square.pojo.MerchantChannelHistoryExample" >
    delete from merchant_channel_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rxh.square.pojo.MerchantChannelHistory" >
    replace into merchant_channel_history (id, organization_id, channel_id,
      mer_id, channel_type, amount,
      trade_count, create_time, change_time,
      reason, status)
    values (#{id,jdbcType=VARCHAR}, #{organizationId,jdbcType=VARCHAR}, #{channelId,jdbcType=VARCHAR},
      #{merId,jdbcType=VARCHAR}, #{channelType,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL},
      #{tradeCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{changeTime,jdbcType=TIMESTAMP},
      #{reason,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rxh.square.pojo.MerchantChannelHistory" >
    insert into merchant_channel_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="merId != null" >
        mer_id,
      </if>
      <if test="channelType != null" >
        channel_type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="tradeCount != null" >
        trade_count,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="changeTime != null" >
        change_time,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="merId != null" >
        #{merId,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null" >
        #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="tradeCount != null" >
        #{tradeCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTime != null" >
        #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rxh.square.pojo.MerchantChannelHistoryExample" resultType="java.lang.Integer" >
    select count(*) from merchant_channel_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update merchant_channel_history
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationId != null" >
        organization_id = #{record.organizationId,jdbcType=VARCHAR},
      </if>
      <if test="record.channelId != null" >
        channel_id = #{record.channelId,jdbcType=VARCHAR},
      </if>
      <if test="record.merId != null" >
        mer_id = #{record.merId,jdbcType=VARCHAR},
      </if>
      <if test="record.channelType != null" >
        channel_type = #{record.channelType,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.tradeCount != null" >
        trade_count = #{record.tradeCount,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.changeTime != null" >
        change_time = #{record.changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update merchant_channel_history
    set id = #{record.id,jdbcType=VARCHAR},
      organization_id = #{record.organizationId,jdbcType=VARCHAR},
      channel_id = #{record.channelId,jdbcType=VARCHAR},
      mer_id = #{record.merId,jdbcType=VARCHAR},
      channel_type = #{record.channelType,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=DECIMAL},
      trade_count = #{record.tradeCount,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      change_time = #{record.changeTime,jdbcType=TIMESTAMP},
      reason = #{record.reason,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rxh.square.pojo.MerchantChannelHistory" >
    update merchant_channel_history
    <set >
      <if test="organizationId != null" >
        organization_id = #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="merId != null" >
        mer_id = #{merId,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null" >
        channel_type = #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="tradeCount != null" >
        trade_count = #{tradeCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTime != null" >
        change_time = #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rxh.square.pojo.MerchantChannelHistory" >
    update merchant_channel_history
    set organization_id = #{organizationId,jdbcType=VARCHAR},
      channel_id = #{channelId,jdbcType=VARCHAR},
      mer_id = #{merId,jdbcType=VARCHAR},
      channel_type = #{channelType,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      trade_count = #{tradeCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      change_time = #{changeTime,jdbcType=TIMESTAMP},
      reason = #{reason,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="merchantChannelHistory" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    merchant_channel_history
    <if test="paramMap != null" >
      <include refid="simple_where" />
    </if>
    order by create_time desc
    LIMIT #{paramMap.startPage},#{paramMap.pageSize}
  </select>

  <select id="merchantChannelHistoryCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
    select count(1) from merchant_channel_history
    <if test="paramMap != null" >
      <include refid="simple_where" />
    </if>
  </select>
  <sql id="simple_where">
    <trim prefix="WHERE" suffixOverrides="AND">
      <if test="paramMap.id != null ">
        id = #{paramMap.id}  AND
      </if>
      <if test="paramMap.organizationId != null ">
        organization_id = #{paramMap.organizationId} AND
      </if>
      <if test="paramMap.channelId != null ">
        channel_id = #{paramMap.channelId}  AND
      </if>
      <if test="paramMap.merId != null ">
        mer_id = #{paramMap.merId} AND
      </if>
      <if test="paramMap.channelType != null ">
        channel_type = #{paramMap.channelType} AND
      </if>
      <if test="paramMap.amount != null ">
        amount = #{paramMap.amount} AND
      </if>
      <if test="paramMap.tradeCount != null ">
        trade_count = #{paramMap.tradeCount} AND
      </if>
      <if test="paramMap.reason != null ">
        reason = #{paramMap.reason} AND
      </if>
      <if test="paramMap.status != null ">
        status = #{paramMap.status} AND
      </if>
      <if test="paramMap.startDate != null and paramMap.endDate == null">
        DATE_FORMAT( create_time ,'%Y-%m-%d')
        BETWEEN
        DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
        AND
        DATE_FORMAT(    NOW(),'%Y-%m-%d')
      </if>
      <if test="paramMap.startDate != null and paramMap.endDate != null ">
        DATE_FORMAT( create_time ,'%Y-%m-%d')  BETWEEN
        DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
        AND
        DATE_FORMAT(  #{paramMap.endDate},'%Y-%m-%d')
      </if>
      <if test="paramMap.startDate2 != null and paramMap.endDate2 == null">
        DATE_FORMAT( change_time ,'%Y-%m-%d')
        BETWEEN
        DATE_FORMAT(  #{paramMap.startDate2} ,'%Y-%m-%d')
        AND
        DATE_FORMAT(    NOW(),'%Y-%m-%d')
      </if>
      <if test="paramMap.startDate2 != null and paramMap.endDate2 != null ">
        DATE_FORMAT( change_time ,'%Y-%m-%d')  BETWEEN
        DATE_FORMAT(  #{paramMap.startDate2} ,'%Y-%m-%d')
        AND
        DATE_FORMAT(  #{paramMap.endDate2},'%Y-%m-%d')
      </if>
    </trim>
  </sql>


</mapper>
