<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rxh.mapper.square.MerchantsDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.rxh.square.pojo.MerchantsDetails" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="mer_id" property="merId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="mer_order_id" property="merOrderId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="in_amount" property="inAmount" jdbcType="DECIMAL" />
    <result column="out_amount" property="outAmount" jdbcType="DECIMAL" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="fee_profit" property="feeProfit" jdbcType="DECIMAL" />
    <result column="total_balance" property="totalBalance" jdbcType="DECIMAL" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="timestamp" property="timestamp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mer_id, type, mer_order_id, order_id, amount, in_amount, out_amount, fee, fee_profit,
    total_balance, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rxh.square.pojo.MerchantsDetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from merchants_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from merchants_details
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from merchants_details
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.rxh.square.pojo.MerchantsDetailsExample" >
    delete from merchants_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rxh.square.pojo.MerchantsDetails" >
    insert into merchants_details (id, mer_id, type,
      mer_order_id, order_id, amount,
      in_amount, out_amount, fee,
      fee_profit, total_balance, update_time,timestamp
      )
    values (#{id,jdbcType=VARCHAR}, #{merId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
      #{merOrderId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL},
      #{inAmount,jdbcType=DECIMAL}, #{outAmount,jdbcType=DECIMAL}, #{fee,jdbcType=DECIMAL},
      #{feeProfit,jdbcType=DECIMAL}, #{totalBalance,jdbcType=DECIMAL}, #{updateTime,jdbcType=TIMESTAMP},#{timestamp,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insetByBath" parameterType="java.util.List" >
    insert into  merchants_details (id, mer_id, type,
    mer_order_id, order_id, amount,
    in_amount, out_amount, fee,
    fee_profit, total_balance, update_time
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.merId,jdbcType=VARCHAR}, #{item.type,jdbcType=VARCHAR},
      #{item.merOrderId,jdbcType=VARCHAR}, #{item.orderId,jdbcType=VARCHAR}, #{item.amount,jdbcType=DECIMAL},
      #{item.inAmount,jdbcType=DECIMAL}, #{item.outAmount,jdbcType=DECIMAL}, #{item.fee,jdbcType=DECIMAL},
      #{item.feeProfit,jdbcType=DECIMAL}, #{item.totalBalance,jdbcType=DECIMAL}, #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>

  </insert>

  <insert id="insertSelective" parameterType="com.rxh.square.pojo.MerchantsDetails" >
    insert into merchants_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merId != null" >
        mer_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="merOrderId != null" >
        mer_order_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="inAmount != null" >
        in_amount,
      </if>
      <if test="outAmount != null" >
        out_amount,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="feeProfit != null" >
        fee_profit,
      </if>
      <if test="totalBalance != null" >
        total_balance,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="merId != null" >
        #{merId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="merOrderId != null" >
        #{merOrderId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="inAmount != null" >
        #{inAmount,jdbcType=DECIMAL},
      </if>
      <if test="outAmount != null" >
        #{outAmount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="feeProfit != null" >
        #{feeProfit,jdbcType=DECIMAL},
      </if>
      <if test="totalBalance != null" >
        #{totalBalance,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rxh.square.pojo.MerchantsDetailsExample" resultType="java.lang.Integer" >
    select count(*) from merchants_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update merchants_details
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.merId != null" >
        mer_id = #{record.merId,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.merOrderId != null" >
        mer_order_id = #{record.merOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.inAmount != null" >
        in_amount = #{record.inAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.outAmount != null" >
        out_amount = #{record.outAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.fee != null" >
        fee = #{record.fee,jdbcType=DECIMAL},
      </if>
      <if test="record.feeProfit != null" >
        fee_profit = #{record.feeProfit,jdbcType=DECIMAL},
      </if>
      <if test="record.totalBalance != null" >
        total_balance = #{record.totalBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update merchants_details
    set id = #{record.id,jdbcType=VARCHAR},
    mer_id = #{record.merId,jdbcType=VARCHAR},
    type = #{record.type,jdbcType=VARCHAR},
    mer_order_id = #{record.merOrderId,jdbcType=VARCHAR},
    order_id = #{record.orderId,jdbcType=VARCHAR},
    amount = #{record.amount,jdbcType=DECIMAL},
    in_amount = #{record.inAmount,jdbcType=DECIMAL},
    out_amount = #{record.outAmount,jdbcType=DECIMAL},
    fee = #{record.fee,jdbcType=DECIMAL},
    fee_profit = #{record.feeProfit,jdbcType=DECIMAL},
    total_balance = #{record.totalBalance,jdbcType=DECIMAL},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rxh.square.pojo.MerchantsDetails" >
    update merchants_details
    <set >
      <if test="merId != null" >
        mer_id = #{merId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="merOrderId != null" >
        mer_order_id = #{merOrderId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="inAmount != null" >
        in_amount = #{inAmount,jdbcType=DECIMAL},
      </if>
      <if test="outAmount != null" >
        out_amount = #{outAmount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="feeProfit != null" >
        fee_profit = #{feeProfit,jdbcType=DECIMAL},
      </if>
      <if test="totalBalance != null" >
        total_balance = #{totalBalance,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rxh.square.pojo.MerchantsDetails" >
    update merchants_details
    set mer_id = #{merId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      mer_order_id = #{merOrderId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      in_amount = #{inAmount,jdbcType=DECIMAL},
      out_amount = #{outAmount,jdbcType=DECIMAL},
      fee = #{fee,jdbcType=DECIMAL},
      fee_profit = #{feeProfit,jdbcType=DECIMAL},
      total_balance = #{totalBalance,jdbcType=DECIMAL},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <select id="selectMerchantsDetails" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    merchants_details
    <if test="paramMap != null" >
      <include refid="simple_where" />
    </if>
    order by timestamp desc, update_time desc,total_balance desc,order_id desc
    LIMIT #{paramMap.startPage},#{paramMap.pageSize}
  </select>

  <select id="countMerchantsDetails" resultType="java.lang.Integer"  parameterType="java.util.Map">
    select count(1) from merchants_details
    <if test="paramMap != null" >
      <include refid="simple_where" />
    </if>
  </select>
  <sql id="simple_where">
    <trim prefix="WHERE" suffixOverrides="AND">
      <if test="paramMap.id != null ">
        id = #{paramMap.id}  AND
      </if>
      <if test="paramMap.merOrderId != null ">
        mer_order_id = #{paramMap.merOrderId} AND
      </if>
      <if test="paramMap.orderId != null ">
        order_id = #{paramMap.orderId}  AND
      </if>
      <if test="paramMap.merId != null ">
        mer_id = #{paramMap.merId} AND
      </if>
      <if test="paramMap.type != null ">
        type = #{paramMap.type} AND
      </if>
      <if test="paramMap.amount != null ">
        amount = #{paramMap.amount} AND
      </if>
      <if test="paramMap.inAmount != null ">
        in_amount = #{paramMap.inAmount} AND
      </if>
      <if test="paramMap.outAmount != null ">
        out_amount = #{paramMap.outAmount} AND
      </if>
      <if test="paramMap.fee != null ">
        fee = #{paramMap.fee} AND
      </if>
      <if test="paramMap.feeProfit != null ">
        fee_profit = #{paramMap.feeProfit} AND
      </if>
      <if test="paramMap.totalBalance != null ">
        total_balance = #{paramMap.totalBalance} AND
      </if>
      <if test="paramMap.startDate != null and paramMap.endDate == null">
        DATE_FORMAT( update_time ,'%Y-%m-%d')
        BETWEEN
        DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
        AND
        DATE_FORMAT(    NOW(),'%Y-%m-%d')
      </if>
      <if test="paramMap.startDate != null and paramMap.endDate != null ">
        DATE_FORMAT( update_time ,'%Y-%m-%d')  BETWEEN
        DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
        AND
        DATE_FORMAT(  #{paramMap.endDate},'%Y-%m-%d')
      </if>
    </trim>
  </sql>
  <select id="getMerchantDetails" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from merchants_details
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <select id="getMaxMerchantsDetailsId" resultType="java.lang.String">
      SELECT
          MAX(id) id
      FROM
         merchants_details;
  </select>
  <select id="getMaxMerchantsDetailsOrderId" resultType="java.lang.String">
      SELECT
          order_id
      FROM
         merchants_details
         order by update_time desc
         limit 1;
  </select>
</mapper>
