<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rxh.mapper.square.SystemOrderTrackMapper" >
    <resultMap id="BaseResultMap" type="com.rxh.square.pojo.SystemOrderTrack" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="mer_id" property="merId" jdbcType="VARCHAR" />
        <result column="mer_order_id" property="merOrderId" jdbcType="VARCHAR" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="return_url" property="returnUrl" jdbcType="VARCHAR" />
        <result column="notice_url" property="noticeUrl" jdbcType="VARCHAR" />
        <result column="trade_result" property="tradeResult" jdbcType="VARCHAR" />
        <result column="refer" property="refer" jdbcType="VARCHAR" />
        <result column="trade_time" property="tradeTime" jdbcType="TIMESTAMP" />
        <result column="order_track_status" property="orderTrackStatus" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.rxh.pojo.risk.SystemOrderTrack" extends="BaseResultMap" >
        <result column="trade_info" property="tradeInfo" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
    id, mer_id, mer_order_id, order_id, amount, return_url, notice_url, order_track_status,trade_result,refer,trade_time
  </sql>
    <sql id="Blob_Column_List" >
    trade_info
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.rxh.square.pojo.SystemOrderTrackExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from system_order_track
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rxh.square.pojo.SystemOrderTrackExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from system_order_track
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from system_order_track
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="getSystemOrderTrack" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        *
        from system_order_track
        where order_id = #{orderId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from system_order_track
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.rxh.square.pojo.SystemOrderTrackExample" >
        delete from system_order_track
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.rxh.square.pojo.SystemOrderTrack" >
    insert into system_order_track (id, mer_id, mer_order_id,
      order_id, amount, return_url,
      notice_url, order_track_status, trade_info
      )
    values (#{id,jdbcType=VARCHAR}, #{merId,jdbcType=VARCHAR}, #{merOrderId,jdbcType=VARCHAR},
      #{orderId,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{returnUrl,jdbcType=VARCHAR},
      #{noticeUrl,jdbcType=VARCHAR}, #{orderTrackStatus,jdbcType=INTEGER}, #{tradeInfo,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.rxh.square.pojo.SystemOrderTrack" >
        insert into system_order_track
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="merId != null" >
                mer_id,
            </if>
            <if test="merOrderId != null" >
                mer_order_id,
            </if>
            <if test="orderId != null" >
                order_id,
            </if>
            <if test="amount != null" >
                amount,
            </if>
            <if test="returnUrl != null" >
                return_url,
            </if>
            <if test="noticeUrl != null" >
                notice_url,
            </if>
            <if test="orderTrackStatus != null" >
                order_track_status,
            </if>
            <if test="tradeInfo != null" >
                trade_info,
            </if>
            <if test="tradeResult != null" >
                trade_result,
            </if>
            <if test="tradeTime != null" >
                trade_time,
            </if>
            <if test="refer != null" >
                refer
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="merId != null" >
                #{merId,jdbcType=VARCHAR},
            </if>
            <if test="merOrderId != null" >
                #{merOrderId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null" >
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="amount != null" >
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="returnUrl != null" >
                #{returnUrl,jdbcType=VARCHAR},
            </if>
            <if test="noticeUrl != null" >
                #{noticeUrl,jdbcType=VARCHAR},
            </if>
            <if test="orderTrackStatus != null" >
                #{orderTrackStatus,jdbcType=INTEGER},
            </if>
            <if test="tradeInfo != null" >
                #{tradeInfo,jdbcType=LONGVARCHAR},
            </if>
            <if test="tradeResult != null" >
                #{tradeResult,jdbcType=VARCHAR},
            </if>
            <if test="tradeTime != null" >
                #{tradeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="refer != null" >
                #{refer,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.rxh.square.pojo.SystemOrderTrackExample" resultType="java.lang.Integer" >
        select count(*) from system_order_track
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <select id="findOneByMerOrderId" resultType="com.rxh.square.pojo.SystemOrderTrack">
        select
        <include refid="Base_Column_List" />
        from system_order_track
        where order_id = #{ordedrId,jdbcType=VARCHAR}
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update system_order_track
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.merId != null" >
                mer_id = #{record.merId,jdbcType=VARCHAR},
            </if>
            <if test="record.merOrderId != null" >
                mer_order_id = #{record.merOrderId,jdbcType=VARCHAR},
            </if>
            <if test="record.orderId != null" >
                order_id = #{record.orderId,jdbcType=VARCHAR},
            </if>
            <if test="record.amount != null" >
                amount = #{record.amount,jdbcType=DECIMAL},
            </if>
            <if test="record.returnUrl != null" >
                return_url = #{record.returnUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.noticeUrl != null" >
                notice_url = #{record.noticeUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.orderTrackStatus != null" >
                order_track_status = #{record.orderTrackStatus,jdbcType=INTEGER},
            </if>
            <if test="record.tradeInfo != null" >
                trade_info = #{record.tradeInfo,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map" >
        update system_order_track
        set id = #{record.id,jdbcType=VARCHAR},
        mer_id = #{record.merId,jdbcType=VARCHAR},
        mer_order_id = #{record.merOrderId,jdbcType=VARCHAR},
        order_id = #{record.orderId,jdbcType=VARCHAR},
        amount = #{record.amount,jdbcType=DECIMAL},
        return_url = #{record.returnUrl,jdbcType=VARCHAR},
        notice_url = #{record.noticeUrl,jdbcType=VARCHAR},
        order_track_status = #{record.orderTrackStatus,jdbcType=INTEGER},
        trade_info = #{record.tradeInfo,jdbcType=LONGVARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update system_order_track
        set id = #{record.id,jdbcType=VARCHAR},
        mer_id = #{record.merId,jdbcType=VARCHAR},
        mer_order_id = #{record.merOrderId,jdbcType=VARCHAR},
        order_id = #{record.orderId,jdbcType=VARCHAR},
        amount = #{record.amount,jdbcType=DECIMAL},
        return_url = #{record.returnUrl,jdbcType=VARCHAR},
        notice_url = #{record.noticeUrl,jdbcType=VARCHAR},
        order_track_status = #{record.orderTrackStatus,jdbcType=INTEGER}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.rxh.square.pojo.SystemOrderTrack" >
        update system_order_track
        <set >
            <if test="merId != null" >
                mer_id = #{merId,jdbcType=VARCHAR},
            </if>
            <if test="merOrderId != null" >
                mer_order_id = #{merOrderId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null" >
                order_id = #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="amount != null" >
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="returnUrl != null" >
                return_url = #{returnUrl,jdbcType=VARCHAR},
            </if>
            <if test="noticeUrl != null" >
                notice_url = #{noticeUrl,jdbcType=VARCHAR},
            </if>
            <if test="orderTrackStatus != null" >
                order_track_status = #{orderTrackStatus,jdbcType=INTEGER},
            </if>
            <if test="tradeInfo != null" >
                trade_info = #{tradeInfo,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.rxh.square.pojo.SystemOrderTrack" >
    update system_order_track
    set mer_id = #{merId,jdbcType=VARCHAR},
      mer_order_id = #{merOrderId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      return_url = #{returnUrl,jdbcType=VARCHAR},
      notice_url = #{noticeUrl,jdbcType=VARCHAR},
      order_track_status = #{orderTrackStatus,jdbcType=INTEGER},
      trade_info = #{tradeInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.rxh.square.pojo.SystemOrderTrack" >
    update system_order_track
    set mer_id = #{merId,jdbcType=VARCHAR},
      mer_order_id = #{merOrderId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      return_url = #{returnUrl,jdbcType=VARCHAR},
      notice_url = #{noticeUrl,jdbcType=VARCHAR},
      order_track_status = #{orderTrackStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="selectAllSystemOrder" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
       *
        FROM
        system_order_track
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="paramMap.id != null ">
                id = #{paramMap.id}  AND
            </if>
            <if test="paramMap.merId != null ">
                mer_id = #{paramMap.merId} AND
            </if>
            <if test="paramMap.merOrderId != null ">
                mer_order_id = #{paramMap.merOrderId}  AND
            </if>
            <if test="paramMap.orderId != null ">
                order_id = #{paramMap.orderId} AND
            </if>
            <if test="paramMap.amount != null ">
                amount = #{paramMap.amount} AND
            </if>
            <if test="paramMap.returnUrl != null ">
                return_url = #{paramMap.returnUrl} AND
            </if>
            <if test="paramMap.noticeUrl != null ">
                notice_url = #{paramMap.noticeUrl} AND
            </if>
            <if test="paramMap.orderTrackStatus != null ">
                order_track_status = #{paramMap.orderTrackStatus} AND
            </if>
            <if test="paramMap.tradeInfo != null ">
                trade_info = #{paramMap.tradeInfo} AND
            </if>
            <if test="paramMap.refer != null ">
                refer = #{paramMap.refer} AND
            </if>
            <if test="paramMap.startDate != null and paramMap.endDate == null">
                DATE_FORMAT( trade_time ,'%Y-%m-%d')
                BETWEEN
                DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
                AND
                DATE_FORMAT(    NOW(),'%Y-%m-%d')
            </if>
            <if test="paramMap.startDate != null and paramMap.endDate != null ">
                DATE_FORMAT( trade_time ,'%Y-%m-%d')  BETWEEN
                DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
                AND
                DATE_FORMAT(  #{paramMap.endDate},'%Y-%m-%d')
            </if>
        </trim>
        order by trade_time desc
        LIMIT #{paramMap.startPage},#{paramMap.pageSize}
    </select>

    <select id="selectSuccessOrderCountByParam" resultType="java.lang.Integer"  parameterType="java.util.Map">
        select count(1) from system_order_track
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="paramMap.id != null ">
                id = #{paramMap.id}  AND
            </if>
            <if test="paramMap.merId != null ">
                mer_id = #{paramMap.merId} AND
            </if>
            <if test="paramMap.merOrderId != null ">
                mer_order_id = #{paramMap.merOrderId}  AND
            </if>
            <if test="paramMap.orderId != null ">
                order_id = #{paramMap.orderId} AND
            </if>
            <if test="paramMap.amount != null ">
                amount = #{paramMap.amount} AND
            </if>
            <if test="paramMap.returnUrl != null ">
                return_url = #{paramMap.returnUrl} AND
            </if>
            <if test="paramMap.noticeUrl != null ">
                notice_url = #{paramMap.noticeUrl} AND
            </if>
            <if test="paramMap.orderTrackStatus != null ">
                order_track_status = #{paramMap.orderTrackStatus} AND
            </if>
            <if test="paramMap.tradeInfo != null ">
                trade_info = #{paramMap.tradeInfo} AND
            </if>
            <if test="paramMap.refer != null ">
                refer = #{paramMap.refer} AND
            </if>
            <if test="paramMap.startDate != null and paramMap.endDate == null">
                DATE_FORMAT( trade_time ,'%Y-%m-%d')
                BETWEEN
                DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
                AND
                DATE_FORMAT(    NOW(),'%Y-%m-%d')
            </if>
            <if test="paramMap.startDate != null and paramMap.endDate != null ">
                DATE_FORMAT( trade_time ,'%Y-%m-%d')  BETWEEN
                DATE_FORMAT(  #{paramMap.startDate} ,'%Y-%m-%d')
                AND
                DATE_FORMAT(  #{paramMap.endDate},'%Y-%m-%d')
            </if>
        </trim>
    </select>
    <select id="getIds" resultMap="BaseResultMap"  >
    select
    DISTINCT mer_id
    from system_order_track
  </select>
</mapper>
