<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rxh.mapper.square.TransBankInfoMapper" >
  <resultMap id="BaseResultMap" type="com.rxh.square.pojo.TransBankInfo" >
    <id column="trans_id" property="transId" jdbcType="VARCHAR" />
    <result column="benefit_name" property="benefitName" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bankcard_num" property="bankcardNum" jdbcType="VARCHAR" />
    <result column="bankcard_type" property="bankcardType" jdbcType="INTEGER" />
    <result column="bank_branch_name" property="bankBranchName" jdbcType="VARCHAR" />
    <result column="bank_branch_num" property="bankBranchNum" jdbcType="VARCHAR" />
    <result column="identity_type" property="identityType" jdbcType="INTEGER" />
    <result column="identity_num" property="identityNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    trans_id, benefit_name, bank_name, bankcard_num, bankcard_type, bank_branch_name, 
    bank_branch_num, identity_type, identity_num
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rxh.square.pojo.TransBankInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trans_bank_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from trans_bank_info
    where trans_id = #{transId,jdbcType=VARCHAR}
  </select>
  <select id="getTransBankInfo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from trans_bank_info
    where trans_id = #{transId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from trans_bank_info
    where trans_id = #{transId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.rxh.square.pojo.TransBankInfoExample" >
    delete from trans_bank_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rxh.square.pojo.TransBankInfo" >
    insert into trans_bank_info (trans_id, benefit_name, bank_name, 
      bankcard_num, bankcard_type, bank_branch_name, 
      bank_branch_num, identity_type, identity_num
      )
    values (#{transId,jdbcType=VARCHAR}, #{benefitName,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, 
      #{bankcardNum,jdbcType=VARCHAR}, #{bankcardType,jdbcType=INTEGER}, #{bankBranchName,jdbcType=VARCHAR}, 
      #{bankBranchNum,jdbcType=VARCHAR}, #{identityType,jdbcType=INTEGER}, #{identityNum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rxh.square.pojo.TransBankInfo" >
    insert into trans_bank_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="transId != null" >
        trans_id,
      </if>
      <if test="benefitName != null" >
        benefit_name,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankcardNum != null" >
        bankcard_num,
      </if>
      <if test="bankcardType != null" >
        bankcard_type,
      </if>
      <if test="bankBranchName != null" >
        bank_branch_name,
      </if>
      <if test="bankBranchNum != null" >
        bank_branch_num,
      </if>
      <if test="identityType != null" >
        identity_type,
      </if>
      <if test="identityNum != null" >
        identity_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="transId != null" >
        #{transId,jdbcType=VARCHAR},
      </if>
      <if test="benefitName != null" >
        #{benefitName,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankcardNum != null" >
        #{bankcardNum,jdbcType=VARCHAR},
      </if>
      <if test="bankcardType != null" >
        #{bankcardType,jdbcType=INTEGER},
      </if>
      <if test="bankBranchName != null" >
        #{bankBranchName,jdbcType=VARCHAR},
      </if>
      <if test="bankBranchNum != null" >
        #{bankBranchNum,jdbcType=VARCHAR},
      </if>
      <if test="identityType != null" >
        #{identityType,jdbcType=INTEGER},
      </if>
      <if test="identityNum != null" >
        #{identityNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rxh.square.pojo.TransBankInfoExample" resultType="java.lang.Integer" >
    select count(*) from trans_bank_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update trans_bank_info
    <set >
      <if test="record.transId != null" >
        trans_id = #{record.transId,jdbcType=VARCHAR},
      </if>
      <if test="record.benefitName != null" >
        benefit_name = #{record.benefitName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null" >
        bank_name = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankcardNum != null" >
        bankcard_num = #{record.bankcardNum,jdbcType=VARCHAR},
      </if>
      <if test="record.bankcardType != null" >
        bankcard_type = #{record.bankcardType,jdbcType=INTEGER},
      </if>
      <if test="record.bankBranchName != null" >
        bank_branch_name = #{record.bankBranchName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankBranchNum != null" >
        bank_branch_num = #{record.bankBranchNum,jdbcType=VARCHAR},
      </if>
      <if test="record.identityType != null" >
        identity_type = #{record.identityType,jdbcType=INTEGER},
      </if>
      <if test="record.identityNum != null" >
        identity_num = #{record.identityNum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update trans_bank_info
    set trans_id = #{record.transId,jdbcType=VARCHAR},
      benefit_name = #{record.benefitName,jdbcType=VARCHAR},
      bank_name = #{record.bankName,jdbcType=VARCHAR},
      bankcard_num = #{record.bankcardNum,jdbcType=VARCHAR},
      bankcard_type = #{record.bankcardType,jdbcType=INTEGER},
      bank_branch_name = #{record.bankBranchName,jdbcType=VARCHAR},
      bank_branch_num = #{record.bankBranchNum,jdbcType=VARCHAR},
      identity_type = #{record.identityType,jdbcType=INTEGER},
      identity_num = #{record.identityNum,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rxh.square.pojo.TransBankInfo" >
    update trans_bank_info
    <set >
      <if test="benefitName != null" >
        benefit_name = #{benefitName,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankcardNum != null" >
        bankcard_num = #{bankcardNum,jdbcType=VARCHAR},
      </if>
      <if test="bankcardType != null" >
        bankcard_type = #{bankcardType,jdbcType=INTEGER},
      </if>
      <if test="bankBranchName != null" >
        bank_branch_name = #{bankBranchName,jdbcType=VARCHAR},
      </if>
      <if test="bankBranchNum != null" >
        bank_branch_num = #{bankBranchNum,jdbcType=VARCHAR},
      </if>
      <if test="identityType != null" >
        identity_type = #{identityType,jdbcType=INTEGER},
      </if>
      <if test="identityNum != null" >
        identity_num = #{identityNum,jdbcType=VARCHAR},
      </if>
    </set>
    where trans_id = #{transId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rxh.square.pojo.TransBankInfo" >
    update trans_bank_info
    set benefit_name = #{benefitName,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bankcard_num = #{bankcardNum,jdbcType=VARCHAR},
      bankcard_type = #{bankcardType,jdbcType=INTEGER},
      bank_branch_name = #{bankBranchName,jdbcType=VARCHAR},
      bank_branch_num = #{bankBranchNum,jdbcType=VARCHAR},
      identity_type = #{identityType,jdbcType=INTEGER},
      identity_num = #{identityNum,jdbcType=VARCHAR}
    where trans_id = #{transId,jdbcType=VARCHAR}
  </update>
</mapper>