<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxh.mapper.sys.AgentSysLogMapper">
    <resultMap id="BaseResultMap" type="com.rxh.pojo.sys.SysLog">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="type" jdbcType="SMALLINT" property="type"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="spend_time" jdbcType="BIGINT" property="spendTime"/>
        <result column="request_ip" jdbcType="VARCHAR" property="requestIp"/>
        <result column="request_uri" jdbcType="VARCHAR" property="requestUri"/>
        <result column="method_name" jdbcType="VARCHAR" property="methodName"/>
        <result column="method_description" jdbcType="VARCHAR" property="methodDescription"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, type, operator, start_time, spend_time, request_ip, request_uri, method_name,
        method_description, message
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from agent_sys_log
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from agent_sys_log
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.rxh.pojo.sys.SysLog">
        insert into agent_sys_log (id, type, operator,
                             start_time, spend_time, request_ip,
                             request_uri, method_name, method_description,
                             message)
        values (#{id,jdbcType=BIGINT}, #{type,jdbcType=SMALLINT}, #{operator,jdbcType=VARCHAR},
                #{startTime,jdbcType=TIMESTAMP}, #{spendTime,jdbcType=BIGINT}, #{requestIp,jdbcType=VARCHAR},
                #{requestUri,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR}, #{methodDescription,jdbcType=VARCHAR},
                #{message,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.rxh.pojo.sys.SysLog">
        insert into agent_sys_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="operator != null">
                operator,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="spendTime != null">
                spend_time,
            </if>
            <if test="requestIp != null">
                request_ip,
            </if>
            <if test="requestUri != null">
                request_uri,
            </if>
            <if test="methodName != null">
                method_name,
            </if>
            <if test="methodDescription != null">
                method_description,
            </if>
            <if test="message != null">
                message,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=SMALLINT},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="spendTime != null">
                #{spendTime,jdbcType=BIGINT},
            </if>
            <if test="requestIp != null">
                #{requestIp,jdbcType=VARCHAR},
            </if>
            <if test="requestUri != null">
                #{requestUri,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="methodDescription != null">
                #{methodDescription,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.rxh.pojo.sys.SysLog">
        update agent_sys_log
        <set>
            <if test="type != null">
                type = #{type,jdbcType=SMALLINT},
            </if>
            <if test="operator != null">
                operator = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="spendTime != null">
                spend_time = #{spendTime,jdbcType=BIGINT},
            </if>
            <if test="requestIp != null">
                request_ip = #{requestIp,jdbcType=VARCHAR},
            </if>
            <if test="requestUri != null">
                request_uri = #{requestUri,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                method_name = #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="methodDescription != null">
                method_description = #{methodDescription,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                message = #{message,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.rxh.pojo.sys.SysLog">
        update agent_sys_log
        set type               = #{type,jdbcType=SMALLINT},
            operator           = #{operator,jdbcType=VARCHAR},
            start_time         = #{startTime,jdbcType=TIMESTAMP},
            spend_time         = #{spendTime,jdbcType=BIGINT},
            request_ip         = #{requestIp,jdbcType=VARCHAR},
            request_uri        = #{requestUri,jdbcType=VARCHAR},
            method_name        = #{methodName,jdbcType=VARCHAR},
            method_description = #{methodDescription,jdbcType=VARCHAR},
            message            = #{message,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectBySearchInfo" resultType="com.rxh.pojo.sys.SysLog">
        SELECT
        <include refid="Base_Column_List"/>
        FROM agent_sys_log
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="type != null">
                type = #{type} AND
            </if>
            <if test="operator != null">
                operator = #{operator} AND
            </if>
            <if test="requestIp != null">
                request_ip = #{requestIp} AND
            </if>
            <if test="requestUri != null">
                request_uri LIKE CONCAT('%',#{requestUri},'%') AND
            </if>
            <if test="methodName != null">
                method_name LIKE CONCAT('%',#{methodName},'%') AND
            </if>
            <if test="methodDescription != null">
                method_description LIKE CONCAT('%',#{methodDescription},'%') AND
            </if>
            <if test="startTime != null and endTime == null">
                start_time BETWEEN #{startTime} AND NOW()
            </if>
            <if test="startTime != null and endTime != null">
                start_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </trim>
    </select>
</mapper>