<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxh.mapper.sys.SysMerchantTradeTotalNumMapper">
  <resultMap id="BaseResultMap" type="com.rxh.pojo.sys.SysMerchantTradeTotalNum">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="success_total_num" jdbcType="INTEGER" property="successTotalNum" />
    <result column="trade_time" jdbcType="TIMESTAMP" property="tradeTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, success_total_num, trade_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_merchant_trade_total_num
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_merchant_trade_total_num
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rxh.pojo.sys.SysMerchantTradeTotalNum">
    insert into sys_merchant_trade_total_num (id, success_total_num, trade_time
      )
    values (#{id,jdbcType=BIGINT}, #{successTotalNum,jdbcType=INTEGER}, #{tradeTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rxh.pojo.sys.SysMerchantTradeTotalNum">
    insert into sys_merchant_trade_total_num
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="successTotalNum != null">
        success_total_num,
      </if>
      <if test="tradeTime != null">
        trade_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="successTotalNum != null">
        #{successTotalNum,jdbcType=INTEGER},
      </if>
      <if test="tradeTime != null">
        #{tradeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rxh.pojo.sys.SysMerchantTradeTotalNum">
    update sys_merchant_trade_total_num
    <set>
      <if test="successTotalNum != null">
        success_total_num = #{successTotalNum,jdbcType=INTEGER},
      </if>
      <if test="tradeTime != null">
        trade_time = #{tradeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rxh.pojo.sys.SysMerchantTradeTotalNum">
    update sys_merchant_trade_total_num
    set success_total_num = #{successTotalNum,jdbcType=INTEGER},
      trade_time = #{tradeTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>