<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxh.mapper.sys.SysProtestRefundStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.rxh.pojo.sys.SysProtestRefundStatistics">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="mer_id" jdbcType="INTEGER" property="merId" />
    <result column="refund_num" jdbcType="INTEGER" property="refundNum" />
    <result column="protest_num" jdbcType="INTEGER" property="protestNum" />
    <result column="application_time" jdbcType="TIMESTAMP" property="applicationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mer_id, refund_num, protest_num, application_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_protest_refund_statistics
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_protest_refund_statistics
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rxh.pojo.sys.SysProtestRefundStatistics">
    insert into sys_protest_refund_statistics (id, mer_id, refund_num, 
      protest_num, application_time)
    values (#{id,jdbcType=VARCHAR}, #{merId,jdbcType=INTEGER}, #{refundNum,jdbcType=INTEGER}, 
      #{protestNum,jdbcType=INTEGER}, #{applicationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rxh.pojo.sys.SysProtestRefundStatistics">
    insert into sys_protest_refund_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merId != null">
        mer_id,
      </if>
      <if test="refundNum != null">
        refund_num,
      </if>
      <if test="protestNum != null">
        protest_num,
      </if>
      <if test="applicationTime != null">
        application_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="merId != null">
        #{merId,jdbcType=INTEGER},
      </if>
      <if test="refundNum != null">
        #{refundNum,jdbcType=INTEGER},
      </if>
      <if test="protestNum != null">
        #{protestNum,jdbcType=INTEGER},
      </if>
      <if test="applicationTime != null">
        #{applicationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rxh.pojo.sys.SysProtestRefundStatistics">
    update sys_protest_refund_statistics
    <set>
      <if test="merId != null">
        mer_id = #{merId,jdbcType=INTEGER},
      </if>
      <if test="refundNum != null">
        refund_num = #{refundNum,jdbcType=INTEGER},
      </if>
      <if test="protestNum != null">
        protest_num = #{protestNum,jdbcType=INTEGER},
      </if>
      <if test="applicationTime != null">
        application_time = #{applicationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rxh.pojo.sys.SysProtestRefundStatistics">
    update sys_protest_refund_statistics
    set mer_id = #{merId,jdbcType=INTEGER},
      refund_num = #{refundNum,jdbcType=INTEGER},
      protest_num = #{protestNum,jdbcType=INTEGER},
      application_time = #{applicationTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>