<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxh.mapper.sys.SysRecentTradeSituationMapper">
  <resultMap id="BaseResultMap" type="com.rxh.pojo.sys.SysRecentTradeSituation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="success_num" jdbcType="INTEGER" property="successNum" />
    <result column="fail_num" jdbcType="INTEGER" property="failNum" />
    <result column="trade_time" jdbcType="TIMESTAMP" property="tradeTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, success_num, fail_num, trade_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_recent_trade_situation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_recent_trade_situation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rxh.pojo.sys.SysRecentTradeSituation">
    insert into sys_recent_trade_situation (id, success_num, fail_num, 
      trade_time)
    values (#{id,jdbcType=BIGINT}, #{successNum,jdbcType=INTEGER}, #{failNum,jdbcType=INTEGER}, 
      #{tradeTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rxh.pojo.sys.SysRecentTradeSituation">
    insert into sys_recent_trade_situation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="successNum != null">
        success_num,
      </if>
      <if test="failNum != null">
        fail_num,
      </if>
      <if test="tradeTime != null">
        trade_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="successNum != null">
        #{successNum,jdbcType=INTEGER},
      </if>
      <if test="failNum != null">
        #{failNum,jdbcType=INTEGER},
      </if>
      <if test="tradeTime != null">
        #{tradeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rxh.pojo.sys.SysRecentTradeSituation">
    update sys_recent_trade_situation
    <set>
      <if test="successNum != null">
        success_num = #{successNum,jdbcType=INTEGER},
      </if>
      <if test="failNum != null">
        fail_num = #{failNum,jdbcType=INTEGER},
      </if>
      <if test="tradeTime != null">
        trade_time = #{tradeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rxh.pojo.sys.SysRecentTradeSituation">
    update sys_recent_trade_situation
    set success_num = #{successNum,jdbcType=INTEGER},
      fail_num = #{failNum,jdbcType=INTEGER},
      trade_time = #{tradeTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>