<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxh.mapper.sys.SysTradeFailAdviceMapper">
  <resultMap id="BaseResultMap" type="com.rxh.pojo.sys.SysTradeFailAdvice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mer_id" jdbcType="INTEGER" property="merId" />
    <result column="trade_fail_num" jdbcType="INTEGER" property="tradeFailNum" />
    <result column="trade_fail_reason" jdbcType="VARCHAR" property="tradeFailReason" />
    <result column="trade_fail_advice" jdbcType="VARCHAR" property="tradeFailAdvice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mer_id, trade_fail_num, trade_fail_reason, trade_fail_advice, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_trade_fail_advice
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_trade_fail_advice
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rxh.pojo.sys.SysTradeFailAdvice">
    insert into sys_trade_fail_advice (id, mer_id, trade_fail_num, 
      trade_fail_reason, trade_fail_advice, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{merId,jdbcType=INTEGER}, #{tradeFailNum,jdbcType=INTEGER}, 
      #{tradeFailReason,jdbcType=VARCHAR}, #{tradeFailAdvice,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rxh.pojo.sys.SysTradeFailAdvice">
    insert into sys_trade_fail_advice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merId != null">
        mer_id,
      </if>
      <if test="tradeFailNum != null">
        trade_fail_num,
      </if>
      <if test="tradeFailReason != null">
        trade_fail_reason,
      </if>
      <if test="tradeFailAdvice != null">
        trade_fail_advice,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merId != null">
        #{merId,jdbcType=INTEGER},
      </if>
      <if test="tradeFailNum != null">
        #{tradeFailNum,jdbcType=INTEGER},
      </if>
      <if test="tradeFailReason != null">
        #{tradeFailReason,jdbcType=VARCHAR},
      </if>
      <if test="tradeFailAdvice != null">
        #{tradeFailAdvice,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rxh.pojo.sys.SysTradeFailAdvice">
    update sys_trade_fail_advice
    <set>
      <if test="merId != null">
        mer_id = #{merId,jdbcType=INTEGER},
      </if>
      <if test="tradeFailNum != null">
        trade_fail_num = #{tradeFailNum,jdbcType=INTEGER},
      </if>
      <if test="tradeFailReason != null">
        trade_fail_reason = #{tradeFailReason,jdbcType=VARCHAR},
      </if>
      <if test="tradeFailAdvice != null">
        trade_fail_advice = #{tradeFailAdvice,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rxh.pojo.sys.SysTradeFailAdvice">
    update sys_trade_fail_advice
    set mer_id = #{merId,jdbcType=INTEGER},
      trade_fail_num = #{tradeFailNum,jdbcType=INTEGER},
      trade_fail_reason = #{tradeFailReason,jdbcType=VARCHAR},
      trade_fail_advice = #{tradeFailAdvice,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>