@charset "utf-8";

* {
	font: 16px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 25px;
}

body {
	text-align: center;
}

div {
	margin: auto;
	text-align: center;
}

#main {
	width: 950px;
	height: 550px;
}

#content {
	width: 600px;
	height: 300px;
	margin-top: 175px;
	border: 1px solid #2597a8;
	color: #1c7380;
}
#title{
	font-weight: bold;
	height: 60px;
	margin-top: 20px;
	border-bottom:1px solid #c7dade;
}

#title img{
	margin-left: 10px;
	vertical-align: middle;
}
#left {
	float: left;
	height: 100px;
	width: 250px;
	text-align: right;
}

#left img {
	width: 54px;
	height: 54px;
	margin-top: 25px;
}

#right {
	float: left;
	height: 100px;
	width: 310px;
	text-align: left;
	padding-left: 40px;
	padding-top: 25px;
}

#clean {
	border-top:1px solid #c7dade;
	clear: both;
	width: 600px;
}
#clean div{
	margin-top: 20px;
}