@charset "utf-8";

html,body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #f1f1f1;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}

.warp {
	margin: 0 auto;
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 20px;
	width: 600px;
	position: relative;
	border: 1px solid #dfdfdf;
	background-color: #FFF;
}

.warp em {
	position: absolute;
	left: -1px;
	top: -1px;
	width: 57px;
	height: 55px;
	background: url(../images/LT.jpg) no-repeat;
}

.ok {
	height: 50px;
	background: url(../images/ok.png) 200px 0 no-repeat;
	text-align: left;
}

.no {
	height: 50px;
	background: url(../images/no.png) 200px 0 no-repeat;
	text-align: left;
}
.process{
	height: 50px;
	line-height: 50px;
	color: red;
	font-weight: bolder;
	font-size: 25px;
}
.ok span,.no span {
	line-height: 50px;
	height: 50px;
	color: red;
	font-weight: bolder;
	font-size: 25px;
	margin-left: 265px;
}

.msg {
	background-color: #900;
	color: #FFF;
	padding: 1px 5px;
}

.warp table {
	width: 560px;
	margin: 20px;
	border-top: 1px solid #CCC;
}

.warp table th {
	background-color: #f5f5f5;
	border-bottom: 1px solid #CCC;
	text-align: right;
	padding-right: 10px;
	font-weight: normal;
}

.warp table td {
	border-bottom: 1px solid #CCC;
	text-align: left;
	padding-left: 10px;
}

.footer {
	width: 600px;
	height: 30px;
	margin: 20px auto;
	position: relative;
}

#buttonSt {
	border:0px;
	cursor: pointer; width : 148px;
	height: 30px;
	background: url(../images/btn.png) no-repeat;
	width: 148px;
}