/**@media screen and (min-width: 768px){
	
	.modal-dialog {
	
		    width: 464px;
		    margin: 30px auto;
		    
     }
     
}*/


.modifyALign {
	
	text-align: center;
    margin-left: -5px;
	
	
}


.div-prompt-style {
		
	display: inline-block;	
	
}


.select-style1 {
	
    position: absolute;
    z-index: 4;
    width: 92.5%;
	
}


.select-style2 {
	
    position: absolute;
    z-index: 3;
    width: 92.5%;
	
}


.select-style3 {
	
    position: absolute;
    z-index: 1;
    width: 92.5%;
	
}

.marginTop50{
	
	margin-top: 50px;
	
}

.promptErrorDiv{
	
    margin-top: 24px;
    display: inline-block;	

}

.promptError {
	
	color:#a94442;
	display: inline-block;
    padding-top: 11px;
	
}


.promptError2 {
	
    color: #a94442;
    display:inline-block;
    padding: 6px 0px 9px 0px;
    
}

.promptError3 {
	
    color: #a94442;
    display:inline-block;
    padding: 6px 0px;
    
}

.addPaddingTop6{
	
	padding-top: 6px;
	
}


.modal-body {
	
    padding-left: 40px;
    padding-right: 40px;
    
}

.has-error {
	
    border-color: #ed5565;
    
}

.has-success {
	
	
	border-color: #1ab394;
	
}

.formLeft {
	
	margin-left: -28px;
	
}

.ng-table-pager .ng-table-counts .ng-scope{
	
    margin-top: -2px;

}

.ng-table-pagination {
    margin-top: 0;
    margin-right: 20px;
}


.totalNum {
	
	width:100%;
	float:right
	
}


