.form-horizontal .control-label {
   padding-top: 0px;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 .col-lg-1-5 .col-md-1-5 .col-sm-1-5 .col-xs-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 3px; 
    padding-left: 3px;
}

.promptError {
	
	color:#a94442;
	display: inline-block;
    padding-top: 11px;
	
}



.pagination {

    display: inline-block;
    padding-right: 0px;
    margin: 0;
    margin-top: 5px;
    border-radius: 4px;
    
}

.has-error {
	
    border-color: #ed5565;
    
}

.has-success {
	
	
	border-color: #1ab394;
	
}
	
	.operate {
	
	    cursor: pointer;
        color: #005596;
	
	
	}
	
	.operate:hover {
	
	   text-decoration: underline;
	
	
	}
	
	.addPadding {
	
	    padding-left: 15px;
	    
	}

	
	table tbody {
	
	 word-break: break-word;
	
	}
	
    thead .ng-table-sort-header th:nth-child(1) {
	
	    width: 150px;
		
	}
	
	thead .ng-table-sort-header th {
	
	    width: 100px;
		
	}
	
    thead .ng-table-sort-header th {
	
	    padding-left: 10px;
	    padding-right: 10px;
	    padding-top: 10px;
		
	}
	
	
	.drawingTransfertable > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	    border-top: 1px solid #e7eaec;
	    line-height: 1.42857;
	    padding: 4px;
	    vertical-align: middle;
    }
	